[2016-01-25 11:08] alexis-michaud opened #1 "[DOREMIFA-4, partie 4] dépôt des données de Marie Martin : dossier DOREMIFA_OnlineTransfer_MM"
"Issue" perdue lors de la clôture du compte, et vaillamment recommencée ^^ Allez soyons généreux, je me décerne une médaille . ...Comment : pas de médailles parmi les emoji??! Alors un diamant, tiens :large_blue_diamond:

Cette "Issue" sera à lire quand on (Séverine+Alexis) aura effectué le transfert des données, prévu pour le 1er février 2016.
**Tout est dans le dossier DOREMIFA_OnlineTransfer_MM

[2016-01-26 10:33] alexis-michaud opened #2 "lien hypertexte direct vers 1 phrase (élément <S>) d'un texte de Pangloss ? pour livre de grammaire"
Dans un livre électronique de grammaire, tel que le livre que je prépare (Tone in Yongning Na), peut-on fournir un lien hypertexte direct vers 1 phrase (élément \<S>) d'un texte de Pangloss ?

Situation : c'est une grammaire, qui cite des exemples tirés des textes. Par exemple la phrase 53 du texte qui est en ligne ici.
http://lacito.vjf.cnrs.fr/pangloss/tools/show_text_en.php?id=crdo-NRU_MARIAGE_

[2016-01-27 10:04] alexis-michaud opened #3 "[DOREMIFA] màj pages de diverses langues"
Aheu_en.php : supprimé 1 portion de texte en vietnamien que j'avais laissé par erreur (copier/coller malencontreux) dans une précédente version.

Toutes les langues vietiques, et le tai : ajouté une mention de la participation de MICA au travail, avec logos et liens

[2016-01-28 10:27] alexis-michaud opened #5 "[DOREMIFA-4, partie 1] dépôt de données de Michel Ferlus : dossier DOREMIFA_OnlineTransfer_Khamou"
Un des 4 ensembles de ce dernier dépôt (lui-même le 4e sur 4) du projet DOREMIFA !

Le plus riche et le plus beau, potentiellement : on a les enregistrements (178 documents); Ferlus a les transcriptions, et un dictionnaire, des photos... Un TRESOR !

Pour le dépôt : normalement, rien de spécial : y'a 1 page web (version fr et version en) appelée KHMU, les fichiers son, et les métadonnées appelées

[2016-01-28 10:34] alexis-michaud opened #6 "[DOREMIFA-4, partie 3] dépôt de données de Michel Ferlus : dossier DOREMIFA_OnlineTransfer_MK"
Petite complication, petite explication : c'est appelé "MK" pour "mon-khmer", mais ce nom c'est interchangeable avec "austroasiatique".
La page web correspondante est appelée "austroasiatique":
Austroasiatic_en.html
Austroasiatic.html

Il y a 1 fichier de métadonnées :
METADATA_MK.xlsx

11 langues, mais peu de données pour chacune. Ce n'est pas le plus glorieux des ensembles documentaires. D'un au

[2016-01-28 14:49] alexis-michaud opened #7 "[DOREMIFA-4, partie 2] dépôt de données de Michel Ferlus : dossier DOREMIFA_OnlineTransfer_Phunoi"
Une langue sino-tibétaine parlée au LAOS !

Les pages web :
Phunoi_en.html
Phunoi.html
(à transformer en PHP, et vérifier... y'a un peu de boulot, je pense, hum hum)

Les fichiers son :
dans  DOREMIFA_OnlineTransfer_Phunoi

Les métadonnées :
dans  METADATA_PHUNOI.xlsx

(Les annotations : ça sera pour plus tard ! C'est transcrit, traduit et annoté ; on a des scans de tapuscrits, mais Ferlus veut le

[2016-01-31 06:00] alexis-michaud opened #8 "[DOREMIFA] 3 annotations pour des documents audio déjà existants"
3 annotations qui viennent rejoindre des documents audio déjà existants !
- crdo-MTQ_HUYTAN_VOC3.xml
- crdo-MTQ_TEM_VOC2.xml
- crdo-MTQ_TEM_VOC3.xml

Les métadonnées sont dans :
metadata_AnnotationsNouvelles.xlsx

dans le même dossier :
DOREMIFA_annotations

[2016-01-31 06:12] alexis-michaud opened #9 "dépôt de ressources naish (na et naxi)"
6 documents son
dont 1 avec fichier EGG

4 fichiers annotation XML

Extrait des métadonnées : dans
METADATA_NAISH_depotfev2016.xlsx

Tout est dans un dossier "naish"
du transfert effectué le 1er février 2016.

[2016-02-05 03:27] alexis-michaud opened #10 "[DOREMIFA] 1 fichier khamou manquant : crdo-KJG_LEGSTOR_1.wav"
Signalé par Séverine le 4 février 2016
A récupérer : original bobine 46-47

[2016-02-23 15:56] #10 closed, assigned to alexis-michaud

[2016-03-01 16:24] #5 closed, assigned to sguillaume

[2016-03-01 16:24] #6 closed, assigned to sguillaume

[2016-03-01 16:24] #7 closed, assigned to sguillaume

[2016-03-03 01:32] alexis-michaud opened #11 "[DOREMIFA] Page accueil PANGLOSS avec 1 modif"
Cf version modifiée dans GitHub le 03/03 peu après minuit heure française

Corrigé la famille du phou noy : c'est du tibéto-birman et pas de l'austroasiatique

Ferlus s'est intéressé à bcp de langues ! et il est actuellement replongé dans cette langue sino-tibétaine.

(Il a aussi des données de hmông ; encore 1 autre famille... mais là on garde ça pudiquement sous silence parce que j'ai un peu env

[2016-03-03 01:34] alexis-michaud opened #12 "[DOREMIFA] parchemin pour les documents .txt"
Pour quelques documents khmer et autres de Marie Alexandrine Martin, la présence d'un doc TEXTE fait afficher le parchemin alors que l'affichage ne correspond pas.
Si on peut corriger c'est super... Sinon ce serait pas un drame de virer les .txt de l'archive, et de les mettre en ligne depuis la page web, avec 1 lien...? C'est des bouts de fichiers de travail, rien de bien abouti et absolument pas

[2016-03-03 11:44] #11 closed, assigned to nobody

[2016-03-03 16:47] #12 closed, assigned to nobody

[2016-03-03 17:25] #3 closed, assigned to sguillaume

[2016-03-08 08:18] alexis-michaud opened #13 "[Pangloss] Mise à jour de pages HTML statiques"
Depuis le dossier GitHub (à re-synchroniser pour récupérer les fichiers)

Tai.php
Tai_en.php
Burmese.php
Burmese_en.php
Bahnaric_en.php

[2016-03-08 14:29] #1 closed, assigned to sguillaume

[2016-03-23 07:43] alexis-michaud opened #14 "[Pangloss] Mise à jour de la page Na_en"
Modifié le 23 mars.
Pour mise en ligne (mise à jour)
Merci !!!

[2016-05-02 12:25] #8 closed, assigned to sguillaume

[2016-06-30 13:21] alexis-michaud opened #15 "Lien vers documents langue SAEK contient un bug"
Un étudiant m'a signalé une erreur que j'avais commise dans le lien vers les documents de langue saek
http://lacito.vjf.cnrs.fr/pangloss/tools/list_rsc_en.php?lg=Saek%20Yo&aff=Saek
Ca contient
"Saek%20Yo"
au lieu de
"Saek"

En corrigeant le lien manuellement dans un navigateur ça marche et on voit les 3 ressources.
http://lacito.vjf.cnrs.fr/pangloss/tools/list_rsc_en.php?lg=Saek&aff=Saek

J'ai cor

[2016-06-30 20:54] #15 closed, assigned to nobody

[2016-08-29 12:34] #14 closed, assigned to sguillaume

[2016-08-29 12:34] #13 closed, assigned to sguillaume

[2016-08-29 12:35] #9 closed, assigned to sguillaume

[2016-11-07 17:18] alexis-michaud opened #16 "Affichage des métadonnées intégrales"
Dans la nouvelle interface ça serait bien de rétablir l'icône "Informations" dans la liste de ressources, non? et aussi sur la page où s'affiche une ressource.
Là il y a qq métadonnées simplifiées mais pas la totalité. En particulier, les identifiants ark, oai...

[2016-11-07 17:20] alexis-michaud opened #17 "[nouvelle interface] le limbu n'apparaît pas encore dans la liste des dicos"
Boyd relève que le dictionnaire limbu n'apparaît pas encore dans la liste des dicos.

[2016-11-09 09:28] alexis-michaud opened #18 "[nouvelle interface] lien vers page en anglais pointe vers .htm et non .html"
... et ça donne une erreur 404.

Depuis: http://lacito.vjf.cnrs.fr/pangloss/
le petit drapeau anglais pointe vers
http://lacito.vjf.cnrs.fr/pangloss/index_en.htm
qui donne une erreur "not found"

[2016-11-23 09:55] alexis-michaud opened #19 "[nouvelle interface] plusieurs listes alphabétiques se succèdent sans indication du continent"
Quand on choisit de voir toute la liste des langues
http://lacito.vjf.cnrs.fr/pangloss/corpus/corpora_list.php

les listes alphabétiques des divers continents se succèdent, sans indication du continent concerné. Ce qui rend la liste surprenante : "abzakh" succède à "sorabe" et "aheu" succède à "yucuna" sans qu'on voie la mention qui indique qu'on a changé de continent. Ca donne l'impression que la

[2016-11-29 17:41] alexis-michaud opened #20 "'hover-over' pour voir titre complet d'une ressource"
Dans l'interface du bon vieux temps d'antan, on passait la souris sur un titre dans la liste des ressources pour une langue, et ça faisait apparaître le titre complet.

Pour le na c'est utile parce qu'il y a plusieurs versions d'une même histoire = avec le même titre, et à la fin une parenthèse qui dit "(version n)". (Pour n > 1. Pas d'indication veut dire : n=1.)

Exemple ici :
![image](https://c

[2016-11-29 18:55] alexis-michaud opened #21 "annonce de la nouvelle interface : rassembler quelques idées"
Hello,

En vue de l'annonce qui sera faite quand la nouvelle interface vous paraîtra prête à annoncer, où regrouper les idées de choses à mettre en avant ?

(points forts, nouveautés...)

- la carte des ressources

- tout est disponible au téléchargement. Maintenant c'est explicité par la présence d'un onglet "Téléchargements"
![image](https://cloud.githubusercontent.com/assets/6072524/20724217/aa

[2016-11-29 18:57] alexis-michaud opened #22 "métadonnées en anglais : 2 coquilles"
Dans les métadonnées en anglais :

Other titlee > Other title

Originale version > Original version
![image](https://cloud.githubusercontent.com/assets/6072524/20724336/199f8118-b66e-11e6-8090-af2457d85176.png)

[2016-12-10 17:36] #22 closed, assigned to sguillaume

[2016-12-13 08:37] alexis-michaud opened #23 "bogue omni-Géria : clic sur mini-carte Google Maps mène au Nigéria (sur la grande carte)"
Quand on consulte les métadonnées d'un document comme celui-ci
http://lacito.vjf.cnrs.fr/pangloss/corpus/show_text.php?id=crdo-KJG_HCPM_SOUND
on voit une mini-carte, en l'occurrence c'est au Laos. Quand on clique dessus ça emmène... au Nigéria :-)
Test fait avec Google Chrome

[2016-12-13 20:07] alexis-michaud opened #24 "[DOREMIFA] coordonnées latitude/longitude manquantes pour diverses langues ?"
Pour diverses langues dont les données khmer de Marie Alexandrine Martin
(exemple :
http://lacito.vjf.cnrs.fr/pangloss/corpus/show_text.php?id=crdo-KHM_CHANTHABURI_1_SOUND )
et le maleng bro
(exemple :
http://lacito.vjf.cnrs.fr/pangloss/corpus/show_text.php?id=crdo-PKT_MALENG_BRO_VOC1_SOUND )
il n'y a pas de carte qui s'affiche dans les métadonnées.

A mon souvenir, lat./long. était renseigné pour

[2016-12-13 22:49] #23 closed, assigned to sguillaume

[2016-12-14 10:07] #17 closed, assigned to sguillaume, Tavalmayam

[2016-12-14 13:37] #24 closed, assigned to sguillaume

[2016-12-16 08:46] alexis-michaud opened #25 "interface: "with with PDF file" > with PDF file"
Dans la liste de ressources, on voit :

Audio recor​​ding with with pdf file

Par exemple ici :
http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc_en.php?lg=Na#langue

Il faut supprimer le 2e "with".

[2016-12-17 09:17] alexis-michaud opened #26 "pages HTML de présentation de certaines langues de DOREMIFA non accessibles"
Je ne sais pas si c'est juste sur mon ordinateur : la présentation (ancienne page HTML statique, désormais cliquable en haut de page) de certaines des langues du projet DOREMIFA ne sont pas accessibles.
Exemple : langue Sach
http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc_en.php?lg=S%C3%A1ch
Pareil pour le khmer
http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Cardamom%20Khmer

Les pag

[2016-12-17 09:18] alexis-michaud opened #27 "coquille : nom de langue : hong Nha > Phong Nha"
Dans la liste des langues
http://lacito.vjf.cnrs.fr/pangloss/corpus/index_en.html

langues du Vietnam :
hong Nha (dialect of Vietnamese)

Il manque un P : Phong Nha
Merci++

[2016-12-18 22:01] #25 closed, assigned to sguillaume

[2016-12-19 09:31] alexis-michaud opened #28 "màj liens dans les pages de présentation des langues vietiques"
Certains liens ont sauté du fait des changements du site : changement de syntaxe des liens. Les liens entre langues vietiques, par exemple, en bas de pages comme celle-ci, donnent maintenant des erreurs 404
http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc_en.php?lg=Th%E1%BB%95

**1. Maleng 	2. Arem 	3. Chứt 	4. Aheu 	5. Hung 	6. Thổ (this page) 	7. Mường 	8. Vietnamese**

[2016-12-20 19:15] Tavalmayam opened #29 "Garder le parcours anglais de clic en clic"
J'allais annoncer la nouvelle interface Pangloss sur Facebook du LaCiTO (dont le public est plutôt anglophone), mais je me suis arrêté, car j'ai constaté une fois de plus que la continuité des liens anglophones se brisait à un certain endroit de la chaîne.

L'erreur se trouve dans http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc_en.php, par exemple
http://lacito.vjf.cnrs.fr/pangloss/corpus/list_

[2017-01-02 11:40] Tavalmayam opened #30 "Corriger un lien sur la page d'accueil"
Sur notre page d'accueil, [francophone](http://lacito.vjf.cnrs.fr/pangloss/index.html) ou [anglophone](http://lacito.vjf.cnrs.fr/pangloss/index_en.html), la photo en haut à droite est cliquable, et renvoie vers la bonne URL:  audio avec annotation.  En revanche, le lien juste en-dessous ([Chant de la pluie](http://lacito.vjf.cnrs.fr/pangloss/corpus/show_text_en.php?id=crdo-MLV_AF030105_SOUND) ...)

[2017-01-02 16:44] #30 closed, assigned to sguillaume, Tavalmayam

[2017-01-03 09:28] Tavalmayam opened #31 "Ajouter un pied de page"
Quand on fait défiler les pages Pangloss de haut en bas (sur ordi ou smartphone) on dirait que ça coince, car ça s'arrête tout d'un coup.  En réalité c'est psychologique:  on a bien tout le contenu, mais il manque un pied de page qui fasse bien voir qu'on est arrivé en bas de page.

Au minimum, il faudrait 2 ou 3 paragraphes vides pour aérer;
encore mieux, un véritable pied de page, avec des logos

[2017-01-03 13:13] #31 closed, assigned to sguillaume, alexis-michaud, Tavalmayam

[2017-01-04 14:32] Tavalmayam opened #32 "DOI, liens permanents vers nos pages"
bonjour,

Savons-nous comment obtenir des identifiants ARK / HDL / DOI etc. pour nos URL?  Faut-il recontacter [Nicolas Larrousse d'HumaNum](http://www.huma-num.fr/personne/nicolas-larrousse) à nouveau ? il faudrait bien lui faire comprendre qu'il ne s'agit pas de lier aux ressources média, mais aux annotations. (qui sont également une ressource).  Ou bien faut-il contacter Mazyar Izadpanah de la

[2017-01-05 10:50] #29 closed, assigned to sguillaume, alexis-michaud, Tavalmayam

[2017-01-05 10:50] #27 closed, assigned to sguillaume

[2017-01-06 14:40] #20 closed, assigned to sguillaume

[2017-01-06 14:41] #19 closed, assigned to nobody

[2017-01-06 14:53] Tavalmayam opened #33 "Page des langues"
Deux notes sur la page des langues:

[En anglais](http://lacito.vjf.cnrs.fr/pangloss/corpus/index_en.html), remplacer "Salomon Isles" par "**Solomon Islands**".

Par ailleurs, Séverine et moi nous trouvions que la page sous forme de liste est visuellement un peu fruste;  nous avions pensé à l'agrémenter, au moins la moitié droite de la page, à l'aide de qqch — par exemple, la carte ?

Je propose d

[2017-02-02 15:57] #33 closed, assigned to sguillaume, alexis-michaud, Tavalmayam

[2017-02-03 10:52] #18 closed, assigned to sguillaume

[2017-02-09 11:33] alexis-michaud opened #34 "Bouton "Citation" : erreur "404 Not found": mise à jour des liens nécessaire"
Un visiteur taïwanais a relevé que les liens fournis via le bouton "Citation" renvoyaient à l'ancienne interface (et donnaient donc une erreur 404 sur la nouvelle).

Exemple :
Fontaine, Laurent. Mythe du chien, Tanimuca corpus. Pangloss Collection, LACITO-CNRS. http://lacito.vjf.cnrs.fr/pangloss/resource/crdo-TNC_001_CHIEN_SOUND&crdo-TNC_001_CHIEN_IMG. Accessed 2017-02-09.

[2017-02-20 09:04] alexis-michaud opened #35 "annotation ne s'affiche pas pour 1 ressource"
Voici la ressource :
crdo-NRU_F4_TONE_NOUNSINFRAME_2007_SOUND

Le fichier d'annotation s'affiche bien dans l'onglet "Téléchargements", et le document s'affiche avec parchemin dans la [liste des ressources](http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Na). Mais le lien donne un simple son :

http://lacito.vjf.cnrs.fr/pangloss/corpus/show_text.php?id=crdo-NRU_F4_TONE_NOUNSINFRAME_2007_S

[2017-02-20 09:12] #35 closed, assigned to sguillaume

[2017-03-25 21:09] alexis-michaud opened #36 "page phunoi (en+fr) à mettre à jour"
Petite erreur corrigée grâce à la vigilance de Ferlus.

J'ai mis à jour via GitHub.

(Bien penser à se re-synchroniser avant de modifier)

[2017-03-26 08:29] #21 closed, assigned to Tavalmayam

[2017-03-26 11:43] Tavalmayam opened #37 "Balise title dans l'en-tête: générique ou spécifique ?"
Quand je poste un texte Pangloss sur Facebook ou ailleurs, le titre qui apparaît est trop impersonnel (toujours le même titre générique quelle que soit la ressource):
`Collection Pangloss - Ressource`
Celui-ci correspond à la balise `title` dans l'en-tête du Html
`<title>Collection Pangloss - Ressource</title>`
(celle-ci se reflète également dans l'intitulé de l'onglet dans firefox, par exemple)
S

[2017-04-16 07:38] #2 closed, assigned to sguillaume

[2017-04-16 07:44] alexis-michaud opened #38 "Conversion de transcriptions de Flex vers DTD "Pangloss/Cocoon" pour langue pumi (prinmi)"
Une collègue souhaite nous confier une très belle collection de données : langue pumi (prinmi).

Henriëtte Daudey (néerlandaise, comme son nom ne l'indique pas), qui mène des enquêtes de terrain depuis des années et fait du beau travail (https://sil.academia.edu/HenrietteDaudey)

Elle a des transcriptions et traductions soigneusement vérifiées (entre autres liens à cette langue, son mari est Pumi

[2017-08-09 11:37] alexis-michaud opened #39 "Mise à jour pages langues"
18 éléments PHP en tout (9 langues x 2 versions: fra et eng).
Dans : GitHub\Pangloss\languages
Facile à retrouver en triant par date : les 18 éléments les plus récents (tout ce qui a été modifé en 2017).
Quand ce sera fait, fermer aussi le numéro #36
Merci :-)

[2017-09-01 14:35] #38 closed, assigned to nobody

[2017-09-01 15:15] #26 closed, assigned to sguillaume

[2017-09-04 12:39] #36 closed, assigned to sguillaume

[2017-09-04 16:02] alexis-michaud opened #40 "Mise en ligne pages séparées pour langues austroasiatiques"
Les langues du projet DO-RE-MI-FA regroupées [ici](http://lacito.vjf.cnrs.fr/pangloss/languages/AA_Ferlus.php) doivent bénéficier chacune d'une page pour que les infos soient affichées à partir de chaque page corpus (même transition que pour les langues tai-kadai, lors de la migration vers la nouvelle interface en 2016).

Pour l'instant j'ai simplement reproduit la page "langues austroasiatiques"

[2017-09-04 18:19] alexis-michaud opened #253 "affichage en petites capitales des gloses grammaticales (termes techniques)"
Le style recommandé pour l'affichage des gloses grammaticales abrégées (termes techniques: par exemple ABL pour ablatif, GEN pour génitif, PL pour pluriel, CLF pour classificateur), c'est les petites capitales.

(A titre d'exemple, voir la typographie des phrases interlinéarisées dans les bons livres de grammaire, comme les collections de [Language Science Press](http://langsci-press.org/catalog).

[2017-09-04 19:48] alexis-michaud opened #42 "Tutoriels Pangloss ?"
Mon (Alexis) idée de départ était de collectionner tous les scripts qui fonctionnent maintenant (Perl, Python...), en expliquant ce qu'ils font et en les rendant disponibles en l'état. Ex.: scripts pour passer de FLEx vers Pangloss, de texte simple vers Pangloss, Toolbox <--> Pangloss...

Plus pratique pour les étudiants / débutants : fournir une méthode ("workflow") simple "par défaut", étape par

[2017-09-06 07:24] alexis-michaud opened #43 "Cases à cocher/décocher dans l'interface : bouton "Word" inerte ?"
Le 1er septembre, l'interface a été améliorée (merci @sguillaume) pour que l'affichage des gloses dans différentes langues (au niveau du mot/morphème) puisse être coché/décoché. Ainsi, pour les textes pumi traduits en chinois et en anglais, on peut choisir chinois, ou anglais, ou les deux (qui s'affichent alors sur des lignes séparées).

C'est une amélioration très bienvenue, surtout dans la persp

[2017-09-06 14:50] #39 closed, assigned to sguillaume

[2017-09-07 14:50] #40 closed, assigned to sguillaume

[2017-09-08 16:37] alexis-michaud opened #44 "encore 4 pages à mettre en ligne : khmer dédoublé ( x 2 langues : fr / en)"
Comme pour les langues tai et les langues austroasiatiques, il y a pour le khmer 1 seule page à laquelle renvoyaient précédemment les liens depuis "khmer krom" et "khmer des Cardamomes" (en anglais: "Cardamom Khmer" et "Krom Khmer").

J'ai simplement dupliqué la page, pour obtenir :
- français : khmer_krom.php et khmer_Cardamomes.php
- anglais : Krom_Khmer_en.php et Cardamom_Khmer_en.php

Ces noms

[2017-09-15 08:22] alexis-michaud opened #46 "Licences et copyrights"
Pour les questions de licences et copyrights, il nous faut proposer aux déposants des solutions qui soient simples et claires, tout en étant assez diverses pour couvrir des situations très différentes d'un pays à l'autre, d'un lieu à l'autre, d'un type de document à l'autre.

# Licences pour les outils logiciels:

A l'heure actuelle, le CNRS ni nos laboratoires de rattachement n'ont de politique d

[2017-09-15 08:28] alexis-michaud opened #47 "Conversion ELAN > Pangloss pour transcriptions de Katia Chirkova : mise en ligne script"
En cours en septembre 2017 (travail réalisé par  @sguillaume ).

Prévoir de rendre disponible le script (même s'il n'est pas "généraliste"), à titre d'exemple des conversions réalisées et des outils employés à cette fin.

[2017-09-15 08:37] alexis-michaud opened #48 "Conversion FLEx > Pangloss pour données d'Henriëtte Daudey : mise en ligne script"
Court rapport de qq lignes sur la page "Outils, scripts et [formulaires".](http://lacito.vjf.cnrs.fr/pangloss/submit/tools.html) Une phrase suffirait : "La collection de données [pumi](http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Pumi) s'est enrichie à l'automne 2017 de textes déposés par Henriëtte Daudey, convertis depuis le format FLEx"

et fournir un lien vers les scripts, en l'éta

[2017-09-15 08:40] alexis-michaud opened #49 "la langue pumi apparaît en 1er dans la liste alphabétique des langues en français"
la langue pumi apparaît en 1er dans la [liste alphabétique des langues](http://lacito.vjf.cnrs.fr/pangloss/corpus/corpora_list.php)

Sans doute dû à l'utilisation de majuscules? "Pumi" à corriger en "pumi"?

Pas de problème dans la liste des langues en anglais, en revanche (où tous les noms de langues sont en capitales).

(pour mémoire : le nom précédemment employé était "prinmi", mais ce terme, p

[2017-09-16 23:36] #49 closed, assigned to sguillaume

[2017-09-17 08:22] alexis-michaud opened #50 "Remplacer les pages "Prinmi.php" et "Prinmi_en.php" par "Pumi.php" et "Pumi_en.php""
J'avais négligé de changer le nom des pages après le changement de nom de langue (pour se conformer au habitudes d'Henriëtte Daudey). Du coup la brève description du corpus n'apparaissait plus dans l'interface Pangloss.

Au passage j'ai toiletté le contenu.

Merci bcp !!

[2017-09-20 16:23] #50 closed, assigned to sguillaume

[2017-09-24 16:14] alexis-michaud opened #51 "dépôt document naxi crdo-NXQ_F1_ORIGIN : original, pour dépôt version toilettée dès que possible"
Demande : dépôt du document naxi crdo-NXQ_F1_ORIGIN dans sa version originale.

Métadonnées : elles sont dans [mon document de métadonnées](https://www.dropbox.com/s/qrwvx7doc8430qz/METADATA_V5.xlsx?dl=0) (format habituel). A l'heure où j'écris, c'est à la ligne 790, mais ça, ça bouge tout le temps (quand j'ajoute des lignes au fichier); retrouver la ligne par l'identifiant crdo-NXQ_F1_ORIGIN.

L'

[2017-11-01 20:10] alexis-michaud opened #52 "Mention "Chargement en cours / Loading in progress" pour pages "Ressources""
Cruel paradoxe : plus il y a de ressources pour une langue, plus on a l'impression qu'il y a zéro ressources !

Par exemple pour le japhug ou le na : on arrive ici
http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Na

et on commence par voir longuement une liste vide
![image](https://user-images.githubusercontent.com/6072524/32294536-be0ab51a-bf46-11e7-83d2-5a43297c7a28.png)

et plus il y

[2017-11-16 18:31] #51 closed, assigned to sguillaume

[2017-11-20 10:08] #44 closed, assigned to sguillaume

[2017-11-22 13:44] #52 closed, assigned to sguillaume

[2017-11-22 21:12] alexis-michaud opened #53 "Recherche de solutions pour affichage rapide des pages Langues sur site Pangloss"
Plus il y a de ressources pour une langue, plus l'attente est longue.

Depuis le 22/11/2017, l'utilisateur voit une animation qui signale que le serveur est en train de travailler pour lui. Du coup on voit que ça vaut la peine d'attendre. Mais le délai d'attente est long. Montre en main, il faut
- 41 secondes pour le japhug
- 22 secondes pour le na

(le temps est le même pour la page anglaise et f

[2017-11-28 10:08] alexis-michaud opened #54 "lien vers pages Langue de la langue "Mường" brisé"
Depuis la page de la langue "Mường" :

http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc_en.php?lg=M%C6%B0%E1%BB%9Dng

la page "Langue" ne s'affiche pas (rien sous l'onglet "Mường")

Un souci avec les caractères spéciaux ?

Le nom de la page HTML correspondante est :
Muong.php
Muong_en.php

(sans les diacritiques : ce n'est pas "Mường")

Faut-il changer le nom des fichiers .php? Ou le nom dans la

[2017-11-28 10:16] alexis-michaud opened #55 "retirer le nom "Maleng" de la liste des langues"
Le maleng est indiqué comme une des langues dans la liste des langues. En fait c'est le nom d'un sous-groupe, qui comprend : maleng bro, pakatan, malang, ma lieng, kha phong. Il faut donc supprimer le nom du groupe de la liste des langues.

(Je dois aussi créer les pages des 5 langues du groupe : #56 )

Au passage, ça permet de tester le dispositif pour faire patienter l'utilisateur : la petite ro

[2017-11-28 10:22] alexis-michaud opened #56 "5 pages de langues vietiques nouvellement créées à mettre en ligne (x 2 : anglais et français)"
Le souci né lors du passage à la nouvelle interface (chaque langue doit avoir sa page) n'a pas encore été tout à fait résorbé : je n'avais pas vu le souci pour les langues du sous-groupe maleng, dont chacune doit avoir sa page.

pour la langue maleng brô

http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Maleng%20Br%C3%B4

et la langue malang

http://lacito.vjf.cnrs.fr/pangloss/corpus/list

[2017-11-28 11:49] #55 closed, assigned to nobody

[2017-11-28 11:50] #54 closed, assigned to sguillaume

[2017-11-28 13:43] #56 closed, assigned to sguillaume

[2017-12-11 09:28] alexis-michaud opened #57 "Intégration de OutilsPangloss au site : permettre le téléchargement des fichiers par lots"
Oliver Adams (chercheur en informatique) relève :

Merci à lui de nous en avoir fait part : d'autres tourneraient simplement les talons sans nous faire part du problème :-)

Il faut comprendre ce point de vue : celui d'utilisateurs informaticiens qui veulent récupérer des lots de données d'un coup, pour leurs finalités de recherche à eux, qui parfois n'ont vraiment rien à voir avec les nôtres.

A

[2017-12-20 19:00] alexis-michaud opened #58 "mise à jour du fichier corpora_list.xml"
Changement fait : correction d'1 coquille dans la liste des chercheurs associés aux langues (Trần Trí Dõi, collaborateur de Ferlus)
et ajout d'1 nom (aussi Trần Trí Dõi)
Le fichier a été mis à jour dans GitHub ; à basculer en ligne.

[2018-01-19 14:13] alexis-michaud opened #59 "[Eastling] lien vers le lecteur eastling du texte des abeilles"
Quand on est sur cette page :
http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc_en.php?lg=Tai%20Don&aff=Tai%20Don

le lien vers le lecteur eastling du texte des abeilles (dernier, en bas de la liste) ne devrait pas être :
http://lacito.vjf.cnrs.fr/pangloss/corpus/eastling_player.php?idref=crdo-TWH_T19_IMG
mais :
http://lacito.vjf.cnrs.fr/pangloss/corpus/eastling_player.php?idref=crdo-TWH_T19

(re

[2018-01-19 15:52] #59 closed, assigned to sguillaume

[2018-02-07 15:53] alexis-michaud opened #60 "dépôt 3 manuscrits Lai Pao annotés par Hằng (EASTling)"
Les 3 documents ont été préparés dans EASTling. Les fichiers audio sont déjà déposés dans la Collection Pangloss

http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Tai%20Paw&name=tai%20paw

Ce sont des annotations correspondant aux documents 2, 3 et 4 dans la liste
04m00sReading of the Tai Paw manuscript Lai Pao1Ferlus, Michel et...Lô Văn Thoại
03m44sReading of the Tai Paw manuscript Lai P

[2018-02-12 18:20] alexis-michaud opened #61 "Passage au protocole https"
Vu sur internet : l'annonce selon laquelle [Google va mettre en garde les internautes contre les sites http](https://www.numerama.com/tech/328813-google-va-accentuer-la-pression-sur-les-sites-nutilisant-pas-de-connexion-securisee.html#commentaires), dont fait partie le site Pangloss actuel.

Actuellement on a une petite boîte discrète dans Chrome qui dit "Votre connexion n'est pas sécurisée" mais

[2018-03-01 15:28] alexis-michaud opened #62 "Afficher la licence dans la feuille de métadonnées du document, là où on télécharge"
Recommandation d'un des visiteurs du Comité HCERES : afficher la licence parmi les métadonnées du document, là où on télécharge.

[2018-03-02 23:57] #62 closed, assigned to nobody

[2018-03-24 20:02] alexis-michaud opened #63 "correction ponctuelle : tchétchène indiqué parmi les langues de Chine... et gélolocalisé à Paris :-)"
Dans la liste des langues par pays : une surprise dans la liste Chine
http://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Chechen&name=tch%C3%A8tch%C3%A8ne

Sans doute petite inattention à corriger.

Aussi, 1 p'tit souci dans les métadonnées : c'est Paris qui s'affiche.

![image](https://user-images.githubusercontent.com/6072524/37868389-a9b3d054-2fa5-11e8-83aa-6fd45ba75fcb.png)

Là ce n'est

[2018-03-27 08:56] #63 closed, assigned to sguillaume

[2018-04-03 11:28] alexis-michaud opened #65 "dépôt texte na "MUSHROOMS" (champignons)"
Bonjour Séverine,

Je m'aperçois que le texte na crdo-NRU_F4_MUSHROOMS.xml n'a pas été mis en ligne. Bizarre bizarre : il est fini depuis 2 ans, et il figure dans le répertoire qui contient les 27 fichiers na (XML) dont tu effectues la mise à jour dans Pangloss/Cocoon de temps à autres. Bon en tout cas mieux vaut tard que jamais, il faudrait le verser à l'archive.

Les métadonnées sont les mêmes q

[2018-04-06 15:08] #58 closed, assigned to sguillaume

[2018-04-11 07:28] alexis-michaud opened #66 "Amélioration de l'intégration du lecteur EASTling à l'interface Pangloss"
Suite au ticket #60 : Hằng, qui a préparé les documents Lai Pao, m'indique qu'il y a une traduction mot à mot en vietnamien. Celle-ci ne s'affiche pas. Voici à quoi ça ressemble sur la page de EASTling **éditeur**.
![screenshot 2018-04-11_image1](https://user-images.githubusercontent.com/6072524/38602094-0859bb10-3d6a-11e8-829b-bbf11a0ee996.png)

![screenshot 2018-04-11_image2](https://user-images

[2018-05-16 16:29] alexis-michaud opened #67 "confusions entre langues lazé et laze"
Ca nous pendait au nez, avec une langue laze (langue du Caucase) et une langue lazé (langue sino-tibétaine), des confusions entre langues lazé et laze.

En principe c'est distinct: en anglais on dit "Laze" pour la langue sino-tibétaine, pas de confusion avec la langue caucasienne "Laz"; et en français c'est l'accent qui distingue : "lazé" pour la langue sino-tibétaine, pas de confusion avec la lan

[2018-05-28 14:50] #67 closed, assigned to sguillaume

[2018-05-28 15:43] alexis-michaud opened #68 "Page d'accueil multilingue"
Actuellement : français et anglais.

Idée : ajouter d'autres grandes langues de communication, pas pour l'ensemble du site (trop de maintenance) mais pour les pages principales. Si on essaie de voir grand : **espagnol, arabe, portugais, hindi, russe, japonais, chinois** ?

Une haute priorité pourrait être donnée au chinois. Les langues de Chine sont bien représentées dans la Collection Pangloss, e

[2018-07-16 09:31] alexis-michaud opened #69 "Mentions légales de la Collection Pangloss"
Je viens de voir sur le Carnet de Guillaume Jacques une note concernant les [RÈGLES DE CONFIDENTIALITÉ DES DICTIONNAIRES ANDROID DU LABEX EFL](https://panchr.hypotheses.org/ressources/regles-de-confidentialite-des-dictionnaires-android-du-labex-efl). Il serait sans doute opportun de fournir un texte équivalent pour la Collection Pangloss, avec un onglet depuis le site ?

@lameens avait soulevé (di

[2018-07-26 17:18] alexis-michaud opened #70 "Démos vidéo multilingues pour utilisateurs et déposants (*explainer video*)"
- pour utilisateurs :

Pour que les utilisateurs voient de quoi il s'agit : fabriquer des démos en vidéo (façon Camtasia ou outil équivalent), "visites guidées" de la Collection.
Version anglaise : Lameen Souag? (en anglais ça s'appelle "_explainer video_")
Version espagnole : (à voir, étudiants & collaborateurs LACITO)
Version italienne : (à voir, étudiants & collaborateurs LACITO)
Version arabe

[2018-08-20 20:44] alexis-michaud opened #72 "Dépôt de données vietnamiennes de 2003-2004"
Documents XML finalisés (mais de façon 'ouverte', bien sûr!) le 20 août 2018.

792 Mo de données audio+EGG

Ce sont les données d'[une étude phonétique publiée en 2004](https://hal.archives-ouvertes.fr/hal-00130119). Mieux vaut tard que jamais :-)

Données transférées par le canal habituel, tout en 1 dossier : WAV (audio et EGG), XML et métadonnées.

Merci bcp !

[2018-08-20 20:46] alexis-michaud opened #73 "dépôt de données na"
8 Go de données

Données transférées en janvier 2018

[2018-09-16 16:48] alexis-michaud commented on #73
Merci pour le dépôt des documents !

Une question : le type de ressource a-t-il été mal déclaré dans les métadonnées que j'ai fournies ? Dans le [catalogue OLAC](http://www.language-archives.org/language/nru), les nouveaux documents apparaissent sous la 3e rubrique, "Other resources about the language", au lieu de la première, "Primary texts".

Ou alors l'info était bien présente dans le tableau d

[2018-09-25 20:10] alexis-michaud commented on #72
Merci pour le dépôt de 4 documents en ligne.

Sauf erreur de ma part il y avait 8 documents:

crdo-VIE_CFIN_M1_C
crdo-VIE_CFIN_M1_E
crdo-VIE_CFIN_M2_C
crdo-VIE_CFIN_M2_E
crdo-VIE_CFIN_M3_C
crdo-VIE_CFIN_M3_E
crdo-VIE_CFIN_M3_R
crdo-VIE_CFIN_F1

Parmi ceux-ci je ne vois en ligne que les quatre premiers...?

[2018-09-25 20:13] alexis-michaud commented on #72
Pourtant les documents ont bien été déposés dans CoCoON : ils apparaissent dans [la liste des ressources OLAC pour le vietnamien](http://www.language-archives.org/language/vie).

[code]

[2018-09-25 20:16] alexis-michaud commented on #73
Métadonnées corrigées

et tout est pour le mieux ! 👍

[2018-09-25 20:16] #73 closed

[2018-09-27 13:38] sguillaume commented on #72
Corrigé !
Il s'agissait d'un problème de collections (mauvais nom de collection) donc le moissonnage ne récupérait pas ces données.

[2018-09-27 13:38] #72 closed

[2018-09-27 13:38] sguillaume commented on #72
Idem problème de liste de contributeurs corrigé !

[2018-10-01 10:27] alexis-michaud opened #74 "Choosing a license / choix de licence"
Maintenant que le site est public, ce serait souhaitable qu'il ait une licence affichée.

Des infos sont disponibles ici :
https://help.github.com/articles/licensing-a-repository/

[2018-10-13 09:55] alexis-michaud commented on #72
Dans la foulée de ce dépôt, je me suis fendu d'un billet sur le Carnet de recherche du projet HimalCo, [ici](https://himalco.hypotheses.org/). **"Scientific journals need to make access to research data a prerequisite for reviewing"!**

[2018-12-30 11:24] alexis-michaud opened #75 "[DOREMIFA] ouverture au public des données hung de Michel Ferlus (dialectes: toum, lyha, tày poọng, phong)"
Jusqu'ici, la consigne fournie par Michel Ferlus pour ces données était :

L'autorisation de mise en ligne (licence CC, comme à l'ordinaire) a maintenant été donnée :-)

(détails : courriel du 30 décembre 2018)

[2018-12-31 11:03] alexis-michaud opened #76 "[DOREMIFA] langue makong (mankong), bru : seuls 2 des 4 documents apparaissent"
Sur la page "Makong dialect of Bru" :
https://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc_en.php?lg=Makong%20dialect%20of%20Bru&name=Makong%20(dialect%20of%20Bru)

n'apparaissent que 2 ressources : la 1e et la 3e.

En fait il y en a 4, numérotées de 1 à 4, qui apparaissent bien dans Cocoon :
https://cocoon.huma-num.fr/exist/crdo/search2.xql?keyword=makong

Est-ce du fait d'une erreur de codage de

[2018-12-31 16:45] alexis-michaud opened #77 "[DOREMIFA] dépôt nouveaux documents dans 2 langues : BRU et RMET"
Cf courriel du 31 décembre 2018, 17h45.

[2019-01-08 15:18] alexis-michaud commented on #76
Liens modifiés : les 4 ressources apparaissent.
Nouveau lien :
https://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Bru&name=brou
en anglais :
https://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc_en.php?lg=Bru&name=brou

[2019-01-08 15:18] #76 closed

[2019-01-14 14:34] alexis-michaud commented on #61
Le domaine vjf.cnrs.fr est maintenant passé à HTTPS dans son intégralité.

https://lacito.vjf.cnrs.fr/pangloss/

Il faudra veiller à assurer l'utilisation de HTTPS pour le nouveau domaine pangloss.cnrs.fr, actuellement en HTTP.

http://pangloss.cnrs.fr/

[2019-01-21 10:14] alexis-michaud opened #78 "site Pangloss : association langues - pages pour groupe péarique (mon-khmer)"
Il existe une page Pearic (fr : Pearic.php, en : Pearic_en.php) qui fournit les informations concernant les cinq langues suivantes :

chong heup | chong lo | chong tratt | pear | samré

Dans l'interface ancienne, cette page servait de portail pour les 5 langues. Maintenant que chaque langue (dialecte) doit avoir sa page, ces 5 langues se retrouvent sans lien avec le document de présentation : aucu

[2019-02-06 12:17] alexis-michaud opened #79 "mise à jour dossier DOI"
(rappel : les DOI, objet de #32, sont maintenant déployés)

Le code actuel date de 6 mois:

https://github.com/CNRS/Pangloss/tree/master/DOI_stage/DoiPangloss

Est-ce qu'il n'y a pas eu de modifications depuis ?

Le chemin aussi serait peut-être à changer, simplement DOI plutôt que DOI_stage ?

[2019-02-06 20:07] alexis-michaud opened #80 "affichage DOI : mettre PANGLOSS en minuscules ?"
(rappel : les DOI, objet de #32, sont maintenant déployés)

Actuellement, dans les DOI, 'Pangloss' s'affiche tout en majuscules

Dans la citation (bouton CITATION)
doi: 10.24397/**PANGLOSS**-0000001.
https://doi.org/10.24397/PANGLOSS-0000001 (Accessed 2019-02-06).

Ou via le bouton "DOI"
https://doi.org/10.24397/PANGLOSS-0000001

Ca peut avoir des avantages, de faire figurer '**PANGLOSS**' en maju

[2019-02-06 20:09] #32 closed

[2019-02-06 20:20] alexis-michaud commented on #74
Pour ne pas rester dans le flou plus longtemps, la licence MIT a été choisie. Pour rappel, Creative Commons n'est pas recommandé pour le code informatique (scripts, logiciels...).

Dans les termes de cette licence (permissive), le CNRS conserve le *copyright*.

2a05739e8cf568b439af11b6050239f702944657

La réflexion concernant le choix de la licence reste ouverte : selon les cas, il pourrait être i

[2019-02-06 20:20] #74 closed

[2019-02-07 09:25] vasaura commented on #79
En effet, ce code représente le travail réalisé pendant le stage.
Nous avions besoin d'un repository dédié exclusivement au code de cette application DOI et de le détacher du reste des dossiers Pangloss.
Puisque je n'avais pas la main sur le repository CNRS, j'ai déployé la deuxième version du code ici https://github.com/vasaura/DoiPangloss. Cela nous a permis de travailler en collaboration avec @

[2019-02-07 09:30] vasaura commented on #80
Je me souviens que j'ai eu ce souci même pendant la phase de test. Je me demandais si cela était dû à un fonctionnement par défaut de DataCite. Mais je ne sais plus. A creuser avec @sguillaume

[2019-02-07 20:40] alexis-michaud commented on #34
Problème résolu. Restera à passer au niveau supérieur en traitant #16

[2019-02-07 20:40] #34 closed

[2019-02-09 09:17] alexis-michaud commented on #79
Oui, la progression du projet est intéressante. GitHub permet justement de conserver l'historique : les nouvelles versions n'écrasent pas les précédentes, qui restent accessibles via [l'historique des mises à jour](https://github.com/CNRS/Pangloss/commits/master). Avoir trois dépôts différents pour les trois versions, ça ne serait pas dans l'esprit de GitHub, je pense, et ça serait malcommode à gé

[2019-02-18 10:31] sguillaume commented on #80
C'est modifié en tout minuscules !
On récupère effectivement en majuscule ce qui est assez étrange car je ne crois pas que ça soit enregistré en majuscule.

[2019-02-18 10:31] #80 closed

[2019-02-18 12:36] alexis-michaud commented on #80
👍

[2019-02-18 14:59] sguillaume commented on #78
Fait !

[2019-02-18 14:59] #78 closed

[2019-02-27 09:09] alexis-michaud commented on #75
Précisions pour le dépôt : toutes ces langues ont pour code ISO **HNU**

17 fichiers en tout

4 langues

Le transfert est fait : les fichiers sont dans le dossier DOREMIFA de la baie du LACITO.

[2019-02-27 16:57] alexis-michaud commented on #75
Les 4 pages HTML statiques sont dans le dossier "Langues"

( GitHub\Pangloss\Pangloss_Website\languages )

[2019-02-27 17:24] sguillaume commented on #77
Fait !

[2019-02-27 17:24] sguillaume commented on #75
Fait !

[2019-02-27 17:24] #75 closed

[2019-02-27 20:43] alexis-michaud commented on #77
👍

Reste à mettre en ligne les pages _langue_ (2 langues concernées x 2 langues de description : fra+eng = 4 pages HTML). Elles sont dans le dossier :

GitHub\Pangloss\Pangloss_Website\languages

[2019-02-27 20:44] alexis-michaud commented on #77
(Ce sont les premiers documents dans ces langues.)

[2019-02-27 20:49] alexis-michaud commented on #75
👍

[2019-03-27 20:08] alexis-michaud opened #81 "correction dans la liste des langues : pour le khmu, le pays est : LAOS et non VIETNAM"
Dans la liste des langues : pour le khmu, le pays à indiquer est : LAOS et non VIETNAM
![image](https://user-images.githubusercontent.com/6072524/55108693-689e3b80-50d4-11e9-8e8b-9b8753999a2c.png)

(Il y a aussi des Khmu au Vietnam, mais la majeure partie de la population est au Laos, et c'est là-bas que les enregistrements ont été réalisés.)

[2019-03-28 10:55] sguillaume commented on #81
Fait !

[2019-03-28 10:55] #81 closed

[2019-03-28 11:00] alexis-michaud commented on #81
👍

[2019-04-02 15:46] alexis-michaud opened #82 "Communication : statistiques en mode "science ouverte" : blog comme celui de Language Science Press ?"
Entre autres initiatives pour mieux assurer la communication et la valorisation du projet, un récapitulatif annuel de la progression du projet et des nouvelles innovations serait bienvenu. Un modèle possible, ce serait le blog de Language Science Press, qui comporte

- [un bilan annuel](https://userblogs.fu-berlin.de/langsci-press/2019/01/30/achievements-2018/)

- des statistiques de téléchargemen

[2019-04-10 18:48] vasaura opened #83 "DataCite Metadata Schema 4.2 Update"
@sguillaume
Depuis quelques jours, il y a une nouvelle version de schéma de métadonnées pour les DOI: la version 4.2.
Cela n'a pas d'impact immédiat sur les métadonnées de Pangloss, mais il vaut mieux mettre à jour la mention du schéma dans l'application.
Donc, il faut remplacer dans DoiPangloss/objects/Record.py (ligne 137) "http://schema.datacite.org/meta/kernel-4.1/metadata.xsd" par "http://sch

[2019-04-19 11:40] sguillaume commented on #83
C'est bon pour le changement dans le script.
J'ai fait un commit dans master. c'est bon pour toi ?
Tout a l'air ok mais je n'ai pas relancé sur la base pour l'instant.
Merci !

[2019-04-19 11:40] #83 closed

[2019-04-21 08:30] alexis-michaud opened #84 "Changement du chemin pour le dossier DOI ?"
Pour l'instant, il semble que le dossier DOI traverse un dossier vide (ou supprimé), "DOI_stage":

https://github.com/CNRS/Pangloss/tree/master/DOI_stage/DoiPangloss

Ne faudrait-il pas réorganiser de façon à ce que "DOI" soit directement dans la racine du dépôt "Pangloss" ?

(lié à #79 )

[2019-04-26 20:51] alexis-michaud opened #85 "dépôt nouvelle version document na crdo-NRU_F4_HOUSEBUILDING.xml"
La nouvelle version du texte est ici :

https://github.com/alexis-michaud/na/blob/master/TEXT/F4/crdo-NRU_F4_HOUSEBUILDING.xml

(Il y a maintenant une traduction 'lissée' en anglais, et une transcription orthographique, ajoutées par 1 collègue néo-zélandaise.)

Merci bcp !

[2019-04-29 14:05] sguillaume commented on #85
Fait.

[2019-04-29 14:05] #85 closed

[2019-04-30 05:52] alexis-michaud commented on #77
Pour la langue [RMET](https://lacito.vjf.cnrs.fr/pangloss/corpus/list_rsc.php?lg=Rmet&name=rmet), c'est en ligne, merci. Il faut en revanche corriger le pays: ça concerne le LAOS et non le VIETNAM.

Par contre, la langue BRU ne semble pas avoir été ajoutée dans la liste des langues. Les données et la page sont en ligne, on peut le voir en écrivant à la main une URL : [https://lacito.vjf.cnrs.fr/pa

[2019-04-30 05:57] alexis-michaud commented on #46
Pour info, quelques réflexions (qui n'engagent que moi) sont exposées [ici](https://github.com/alexis-michaud/pangloss/tree/master/licences).

[2019-04-30 07:26] sguillaume commented on #77
C'est fait

[2019-04-30 07:26] #77 closed

[2019-04-30 08:16] sguillaume commented on #65
Fait

[2019-04-30 08:16] #65 closed

[2019-04-30 09:14] alexis-michaud commented on #77
👍

[2019-04-30 11:17] alexis-michaud commented on #65
👍

[2019-05-01 15:13] alexis-michaud commented on #85
👍

[2019-05-23 08:24] alexis-michaud commented on #68
Le format des métadonnées de l’archive facilite grandement la mise en place d’une interface authentiquement multilingue, car les informations sont dotées de code langue. A titre d’exemple, le nom d’une locutrice de la langue na de Yongning est fourni en chinois (拉它米·打史拉么) et en romanisation de ce nom chinois (Latami, Dashi-Lame), mais aussi en transcription phonétique du nom en langue na (lɑ˧tʰɑ˧m

[2019-05-23 12:45] sguillaume commented on #16
Les métadonnées sont aujourd'hui disponibles dans leur intégralité au format XML !
Pour chaque ressource dans "A propos de la ressource" puis "Téléchargements" on peut télécharger non seulement les fichiers audio et d'annotations mais aussi les fichiers de métadonnées qui décrivent ces ressources !

[2019-05-23 12:45] #16 closed

[2019-05-27 18:10] alexis-michaud commented on #16
👍
![image](https://user-images.githubusercontent.com/6072524/58434318-5aac6d00-80bb-11e9-8bf4-0be1d6d2c656.png)

[2019-05-27 20:45] alexis-michaud commented on #78
👍

[2019-06-13 15:38] alexis-michaud opened #86 "Encodage de niveaux supplémentaires : 1 - le paragraphe"
Un niveau supplémentaire (optionnel) qu'il paraîtrait utile d'ajouter à la structure des textes dans la Collection Pangloss, ce serait le **paragraphe**. (Suggestion ancienne, proposée ici suite à une discussion avec Christian Chanard.)

Les longs récits ont des articulations qu'on peut encoder comme des paragraphes différents. Il est notamment souhaitable de pouvoir afficher leur traduction, et l

[2019-06-13 15:56] alexis-michaud opened #87 "Encodage de niveaux supplémentaires : 2 - syllabe et phonème"
Outre le paragraphe (#86 ), un autre enrichissement à la structure des documents de la Collection Pangloss consisterait à encoder des niveaux de type phonétique/phonologique : le phonème, ainsi que la syllabe et ses composantes.

La question de l'ajout d'un codage des phonèmes est liée à la perspective d'un alignement automatique (alignement forcé) entre le signal audio et une transcription phoném

[2019-06-15 08:57] alexis-michaud opened #88 "Conversion du format Pangloss vers ELAN"
Des passerelles entre ELAN, Toolbox, FLEx et le format Pangloss ("CRDO") sont essentielles pour l'interopérabilité des données.

Un export vers ELAN qui serait particulièrement utile pour les documents de la Collection Pangloss, ce serait un export vers un format ELAN défini soigneusement et qui ait une base d'utilisateurs et de développeurs. Le format [ELAN-CorpA](http://llacan.vjf.cnrs.fr/res_EL

[2019-06-15 09:01] alexis-michaud commented on #87
Cette concertation présente un certain caractère d'urgence, dans la mesure où il faut préparer dans le format de la Collection Pangloss un 'écrin' XML dans lequel accueillir les précieuses informations qu'il est prévu d'ajouter aux documents dans le cadre du projet [DoReCo](https://anr.fr/Project-ANR-18-FRAL-0010), telles que l'alignement temporel au niveau du phonème (par alignement forcé). Ces n

[2019-06-17 11:16] alexis-michaud commented on #88
Proposition de Michel Jacobson (@michel-jacobson) : utiliser la TEI comme format-pivot.

Concernant la DTD Pangloss, Michel Jacobson a déjà mis en oeuvre une conversion vers TEI accessible via Cocoon. (Il y a sans doute des choses à améliorer dans cette conversion.)

(Il est prévu d'ajouter prochainement un lien vers cet outil depuis cette page de discussion.)

[2019-07-01 08:12] alexis-michaud commented on #43
Nouveau problème, du même ordre.

C'est toujours dans CHROME, et sur mon ordinateur portable (qui a déjà eu des soucis d'affichage par le passé).
Cette fois-ci, c'est en décochant la transcription par phrase ou la traduction par phrase que ça coince (il ne se passe rien et la case ne se décoche pas).

Par contre l'affichage des gloses au niveau du mot (cocher/décocher) fonctionne bien.

Exemple :

[2019-07-01 14:14] sguillaume commented on #43
Réparé !

[2019-07-01 14:14] #43 closed

[2019-07-02 11:42] alexis-michaud commented on #46
En direct de la Journée d'étude ["Questions éthiques & cadre juridique autour des corpus langagiers"](https://corli.huma-num.fr/journee-questions-ethiques2019) : le souhait d'avoir des solutions aux principales questions est (bien sûr) partagé.

[2019-07-10 16:02] alexis-michaud commented on #61
Comme prévu (cf commentaire précédent), la même question se pose maintenant pour http://pangloss.cnrs.fr/, qu'il faut passer en https dès que possible

[2019-07-10 16:08] alexis-michaud commented on #88
Réflexions de Christophe Parisse :

D’un point de vue technique, une représentation interne n’est pas un format. Elle ne peut être partagée.
Un format pivot doit être un objet partageable. Cela va donc au delà d’une représentation en mémoire, il faut en produire une sortie qui soit partagée.

Ce format, objet partageable, permettant de connecter des programmes indépendants, sera alors un pivot pou

[2019-07-10 16:33] alexis-michaud commented on #84
@vasaura @sguillaume le code intéresse des collègues ; si vous trouviez le temps de ce petit toilettage, ça ne serait pas en vain, je pense ;-)

A vous de voir en fonction du temps disponible et des priorités.

[2019-07-10 16:34] alexis-michaud commented on #79
@vasaura Si le code est à jour et que cette demande n'est plus à l'ordre du jour, merci de fermer ce ticket

[2019-07-15 08:45] alexis-michaud opened #89 "liste de ressources par nom de chercheur : ne fonctionne plus ?"
Depuis la page des ressources kakabé

http://pangloss.cnrs.fr/corpus/list_rsc_en.php?lg=Kakabe

en cliquant sur le nom du chercheur, ça donne une liste vide

http://pangloss.cnrs.fr/corpus/search.php?keywords=Vydrina,%20Alexandra

Pas mieux avec ce lien-ci

http://pangloss.cnrs.fr/corpus/search.php?keywords=Ferlus,%20Michel

[2019-07-15 08:50] alexis-michaud commented on #89
Je voulais lancer une annonce concernant les données kakabé (mise en "vitrine" virtuelle); pour ça, ce serait idéal que le site soit passé en https (sinon ça fait pas super-sérieux, cf #61 ) et que le lien vers la chercheuse ainsi mise en valeur fonctionne.

[2019-07-15 09:04] alexis-michaud commented on #43
👍

[2019-07-16 20:18] alexis-michaud commented on #89
Bon, [la pub' est envoyée](https://twitter.com/LaCiToCNRS/status/1150748262711857152), mais la demande reste d'actualité :-)

[2019-07-19 16:27] vasaura commented on #79
Oui, Severine a fait le fork donc on peut fermer l’issue

[2019-07-19 16:42] vasaura commented on #84
le code est propre ici: https://github.com/sguillaume/DoiPangloss

[2019-07-19 16:50] alexis-michaud commented on #84
Ne faudrait-il pas alors supprimer le doublon ? Ce n'est pas utile d'avoir 2 lieux différents, si ?

[2019-07-19 16:52] alexis-michaud commented on #79
Il faut donc supprimer le dossier qui est [ici](https://github.com/CNRS/Pangloss/tree/master/DOI_stage/DoiPangloss), non ?

[2019-07-19 17:04] vasaura commented on #79
oui, mais il vaut vérifier avant auprès de @sguillaume

[2019-07-23 13:49] vasaura commented on #79
MAJ
Je viens de réaliser qu'un fork a été réalisé directement sur le compte CNRS, donc il faut mieux citer celui-ci: https://github.com/CNRS/DoiPangloss.
@sguillaume pourra nous dire si c'est vraiment la dernière version et non pas celle que j'ai cité plus haut.

[2019-07-23 13:55] alexis-michaud commented on #79
OK super.

@sguillaume la balle est dans ton camp pour supprimer le sous-dossier dans le dépôt "Pangloss" :

https://github.com/CNRS/Pangloss/tree/master/DOI_stage/DoiPangloss

[2019-07-24 14:31] sguillaume commented on #89
Le site que tu regardes est celui que je suis en train de transférer sur huma-num.
C'est donc normal qu'il ne fonctionne pas correctement car il est en cours de migration.
Il faut que tu ailles sur le site du labo car c'est toujours l'emplacement officiel de Pangloss pour le moment. lacito.vjf.cnrs.fr/pangloss/

Voilà voilà !

[2019-07-24 15:23] alexis-michaud commented on #89
C'est noté ! merci

[2019-07-24 15:23] #89 closed

[2019-07-29 11:01] alexis-michaud opened #90 "Lien avec photos / Connect the Pangloss resources (audio/video) with photos from visual archives"
La numérisation et l'archivage de photos et diapositives n'ont pour l'instant pas été organisés de façon aussi systématique que pour les ressources linguistiques audio. Mais ce volet du projet de sauvegarde patrimoniale est important lui aussi, et [un fonds d'archives d'images fixes a été mis en place](http://lacito.huma-num.fr/).

Il serait utile de les relier, pour permettre aux utilisateurs une

[2019-08-28 00:30] alexis-michaud opened #91 "mention des partenaires institutionnels"
La Collection Pangloss fait partie d'un 'écosystème' institutionnel : au sein du CNRS, au plan national, au plan européen, et au plan mondial. Pour l'instant, le site comporte des logos qui renvoient à : CNRS, LACITO, Cocoon, Huma-Num, Labex EFL, ANR

Il pourrait être utile d'avoir une page dédiée qui explicite les liens avec les divers partenaires

- les réseaux d'archives ouvertes : OLAC, [DELAM

[2019-09-14 11:47] alexis-michaud opened #92 "affichage des ressources par licence ?"
Certains utilisateurs prévoient de créer des corpus dérivés. Par exemple un corpus dérivé pour le Traitement Automatique des Langues, selon les besoins de certaines études spécifiques. Cela nécessite de 'piocher' dans des données de diverses langues, et d'avoir le droit de redistribuer le corpus dérivé.

Pour cela, il serait commode de pouvoir afficher (et télécharger) toutes les ressources en uti

[2019-10-28 13:28] alexis-michaud commented on #90
Dans le cadre du projet Com'Lab (mise en oeuvre prévue prochainement), qui vise à ce que l'interface soit adaptée au grand public (faire du portail Pangloss un outil dont un large public puisse se servir / puisse aisément consulter), une bonne association entre images et sons serait particulièrement bienvenue. La dimension visuelle joue un grand rôle pour un site internet.

[2019-10-28 13:30] #84 closed

[2019-10-28 13:32] #79 closed

[2019-10-28 20:13] alexis-michaud commented on #68
Réflexion provisoire, automne 2019 (au seuil de la refonte de l'interface) : maintenir une interface en plus de 2 langues, ça va être difficile. On s'oriente plutôt vers un multilinguisme des tutoriels / vidéos de présentation (voir le ticket #70 ), en plus du multilinguisme des documents de l'archive eux-mêmes.

L'interface, elle, en resterait à : français + anglais.

[2019-10-28 20:15] alexis-michaud commented on #61
Fait 👍
A la nouvelle adresse ( https://pangloss.cnrs.fr/ ) aussi bien qu'à l'ancienne ( https://lacito.vjf.cnrs.fr/pangloss/index.html )

[2019-10-28 20:15] #61 closed

[2019-11-17 17:50] alexis-michaud opened #93 "présentation de la Collection : éviter le terme de "langues rares", en particulier en anglais ?"
Lors d'un [Atelier à Londres](https://www.soas.ac.uk/world-languages-institute/events/12nov2019-persephone-a-tool-for-the-automatic-phonemic-transcription-of-endangered-languages.html), une collègue (intéressée à déposer dans la Collection) a relevé que _"rare languages"_ était connoté de façon péjorative ("petite langue", "langue marginale"...). Au jeu délicat du choix des termes, est-il préférab

[2019-12-19 21:17] alexis-michaud opened #94 "DOI : adapter à la nouvelle adresse du site"
Le site a migré de vjf.cnrs.fr vers cnrs.fr :

https://pangloss.cnrs.fr/

au lieu de

https://lacito.vjf.cnrs.fr/

Cette adresse est à adapter dans les métadonnées fournies pour les DOI, y compris une mise à jour de l'intégralité des DOI existants. Pour l'instant, ça renvoie encore à l'ancienne interface, où les nouveaux documents ne sont pas consultables.

Par exemple :
https://doi.org/10.24397/p

[2020-01-01 08:12] alexis-michaud commented on #94
Ce serait super que ce ticket soit traité dès la 1e quinzaine de janvier, pour que la Collection Pangloss apparaisse sous son plus beau jour quand on en fera la démo. Pour rappel, Creative Commons France organise la journée internationale du domaine public le *samedi 11 Janvier 2020* et on y présente une démo ;-)

Dans un premier temps : mettre une redirection systématique de vjf.cnrs.fr vers le n

[2020-01-01 21:22] alexis-michaud commented on #88
Pour mémoire : adresse du convertisseur en ligne de Christophe :

http://ct3.ortolang.fr/teiconvertbeta/

[2020-01-15 20:49] alexis-michaud opened #95 "dépôt de transcriptions de textes en langue PHOU NOY"
Transcriptions du corpus PHOU NOY, sous forme de tapuscrits scannés (format PDF).

Cf détails et liens vers les fichiers dans courriel du 15 janvier 2020.

[2020-01-18 10:56] alexis-michaud commented on #94
Fait, merci @sguillaume
Un exemple pour qui voudrait vérifier :
https://doi.org/10.24397/pangloss-0005699

[2020-01-18 10:56] #94 closed

[2020-01-18 11:02] alexis-michaud commented on #88
Pour mémoire : scripts en cours de regroupement :

https://github.com/CNRS/Pangloss/tree/master/tools/ELAN

[2020-01-18 11:11] alexis-michaud opened #96 "affichage des listes de documents"
Question liée à #57.

Dans l'affichage des listes de documents : offrir un affichage dynamique : l'utilisateur peut choisir

- la langue (ou tout un continent, ou autres critères géographiques ou linguistiques : groupes et sous-groupes de langues)

- le type de document. Par défaut : TEXT seulement ; on peut changer un curseur : TEXT, TEXT et WORDLIST, ou seulement WORDLIST.

- la durée : curseur

[2020-01-18 11:17] alexis-michaud opened #97 "mise à jour pages web liées aux corpus naish : carnets de terrain"
Des Carnets de terrain, hébergés vers 2006 sur un site fermé par la suite, ont été intégrés à l'interface de la Collection Pangloss dans les années 2010. Les pages sont à maintenir (liens brisés). Réflexion à mener concernant l'intégration au nouvel environnement : sites de la Collection Pangloss et du LACITO.

https://pangloss.cnrs.fr/fieldwork/Na_fw-Yongning_en.htm
https://pangloss.cnrs.fr/field

[2020-02-19 13:43] alexis-michaud opened #98 "testing Kratylos as an editor for Pangloss XML files"
Raphael Finkel has enhanced Kratylos so that it can now download Pangloss XML.  This
facility allows for uploading a Pangloss XML file, editing it using the
Kratylos methods, and then downloading the modified file in Pangloss XML format.

At present, this technique is only implemented on the development
version, https://www.cs.uky.edu/~raphael/ela/ .  It can be tried out on
the Pangloss titles tha

[2020-02-20 15:31] alexis-michaud opened #99 "Bilan carbone de la Collection Pangloss : infrastructure d'archivage et de diffusion"
Question :
Stocker des données en ligne, ça pollue ! N'est-il pas plus raisonnable que chacun garde ses données le temps qu'elles lui sont utiles, puis les efface définitement ?

Réponse :
En effet, les "autoroutes de l'information" et les énormes entrepôts de données ont un bilan environnemental très préoccupant (consommation électrique, déchets électroniques...), et il est bon qu'un large public

[2020-02-23 11:29] alexis-michaud commented on #95
C'est en ligne
Merci @sguillaume  👍 👍
https://pangloss.cnrs.fr/corpus/list_rsc_en.php?lg=Phunoi

(un peu de pub a été faite au passage sur [Twitter](https://twitter.com/LaCiToCNRS/status/1230236757599322119))

[2020-02-23 11:29] #95 closed

[2020-03-08 16:01] alexis-michaud commented on #69
Au fil des échanges avec les services de Mme la Déléguée à la protection des données du CNRS, les propositions se précisent.

Ci-dessous une ébauche de texte pour une page "**Mentions légales**".

--------------

**Information aux locuteurs et contributeurs**

Les documents de la Collection Pangloss comportent des métadonnées qui précisent le rôle tenu par diverses personnes : locuteurs, transcrip

[2020-03-22 10:25] alexis-michaud opened #100 "hébergement (Nakala ?) de jeux de données et modèles acoustiques"
Pour l'utilisation de documents de la Collection Pangloss pour des expérimentations en Traitement Automatique des Langues (par ex. tel que décrits [ici](https://halshs.archives-ouvertes.fr/halshs-01841979/) et [là](https://halshs.archives-ouvertes.fr/halshs-02513914)), l'hébergement de jeux de données et de modèles acoustiques a un rôle central et qui n'est actuellement pas pris en charge dans les

[2020-03-29 14:31] alexis-michaud commented on #69
Voir également https://github.com/alexis-michaud/pangloss/tree/master/licences

[2020-03-31 16:19] alexis-michaud commented on #91
Les logos pourraient également apparaître en pied de page des pages "Ressources" (page d'affichage des ressources linguistiques)

[2020-04-02 16:32] alexis-michaud commented on #69
Dans le cadre du projet Com'Lab : outre les mentions légales, faire figurer les *credits*, l'accessibilité et la page RGPD. On peut notamment s'inspirer des pages qui figurent sur le cnrs.fr

[2020-04-09 07:38] #68 closed

[2020-04-21 07:33] alexis-michaud commented on #53
En cours de mise en oeuvre.

[2020-04-21 07:33] #53 closed

[2020-04-28 08:36] alexis-michaud commented on #57
Orientation confirmée : téléchargement ressource par ressource sur le site Pangloss, et renvoi vers Cocoon (avec indications précises) pour téléchargements par lots.

[2020-05-06 05:44] alexis-michaud opened #256 "liens possibles avec environnements existants pour traitement de manuscrits"
Il serait utile de réfléchir aux possibilités d'intégration au sein d'environnements existants pour traitement de manuscrits (voir en particulier le projet [Scripta](https://scripta.psl.eu/)).

Prendre contact avec [Daniel Stöckl Ben Ezra](https://www.ephe.fr/annuaire/daniel-stokl-ben-ezra) (École Pratique des Hautes Études), auteur de l'outil [Kraken](https://github.com/mittagessen/kraken/)?

[2020-05-23 14:05] alexis-michaud commented on #100
@besacier y aurait-il des solutions parmi les plate-formes utilisées par le [Laboratoire d'Informatique de Grenoble](https://www.liglab.fr/) ?

[2020-06-21 20:24] alexis-michaud opened #101 ""Views" semble ne plus fonctionner"
"Views" n'affiche plus que le contenu du XML.

![image](https://user-images.githubusercontent.com/6072524/85234455-c28fcd00-b40d-11ea-87a8-b28f9f47d154.png)

Je suis sous Firefox 77
![image](https://user-images.githubusercontent.com/6072524/85234481-f8cd4c80-b40d-11ea-9373-d5761c0d1d2f.png)

[2020-06-21 20:28] alexis-michaud commented on #101
(d'ailleurs ce serait bien que Views soit en ligne : puisque ça fonctionne et que ça rend des services, avoir la version la plus à jour disponible en ligne, ce serait mieux que de se passer d'un ordi à l'autre des fichiers pas forcément les plus récents)

[2020-07-16 12:52] alexis-michaud opened #102 "corrections manuelles aux codes langues en 2 lettres : "vn" au lieu de "vi""
Pendant un bon bout de temps j'ai utilisé par erreur comme code langue pour le vietnamien "vn" au lieu de "vi" (source de la confusion : vn c'est le nom de domaine pour le vietnam : mica.edu.vn, par exemple). Maintenant qu'il est prévu que le lecteur de la collection Pangloss tienne compte des langues de traduction disponibles dans les documents, ça paraît d'autant plus important de corriger.

Ca

[2020-09-06 08:11] alexis-michaud opened #254 "envoyer un rapport d'erreur quand le lecteur ne peut pas afficher un document ?"
Serait-il possible d'intégrer dans le lecteur Eastling une fonctionnalité pour envoyer automatiquement un rapport d'erreur (à l'adresse mail du projet, pangloss@cnrs.fr, et aussi à @sguillaume) quand un document ne s'affiche pas ?

A l'heure où ce ticket est ouvert, c'est facile de trouver les exemples, car il semble qu'un bug affecte la lecture de... tous les fichiers de type WORDLIST :)

Par exe

[2020-09-15 08:28] alexis-michaud opened #103 "localisation géographique des données de langue oubykh : Sotchi plutôt qu'Istanbul ou Paris"
Les données de langue oubykh enregistrées à Paris ont été dûment indiquées, dans les métadonnées, comme ayant comme lieu d'enregistrement Paris.
![image](https://user-images.githubusercontent.com/6072524/93184684-d3b25680-f73c-11ea-8acd-d57f5d1eeb47.png)

Par contre, le pays concerné est déclaré comme étant la Turquie (là où les Oubykhs ont été accueillis, selon l'entente passée avec le tsar...)

[2020-09-16 07:21] alexis-michaud commented on #103
Ah, à toutes fins utiles :
Coordonnées géographiques de Sotchi :
Latitude: 43.6, Longitude: 39.7167
43° 36′ 0″ Nord, 39° 43′ 0″ Est

identifiant GeoNames : 491422
https://fr.wikipedia.org/wiki/Sotchi

Nom anglais : Sochi
https://en.wikipedia.org/wiki/Sochi

[2020-09-16 19:22] alexis-michaud opened #104 "quelques icônes n'apparaissent plus sur l'interface (v1)"
Sur la version actuelle de l'interface (v1), quelques images (icônes) n'apparaissent plus.

Il y a celle des fichiers XML

![image](https://user-images.githubusercontent.com/6072524/93382501-7d3f3800-f862-11ea-9fd1-d23a350f9c2f.png)

et aussi l'icône des DOI
![image](https://user-images.githubusercontent.com/6072524/93382583-9942d980-f862-11ea-8bda-5c766c22f476.png)

et le bouton "Lecture" (et le

[2020-09-17 10:32] sguillaume commented on #104
Bizarre, moi ça marche
<img width="869" alt="affichage" src="https://user-images.githubusercontent.com/6065936/93459212-ab179180-f8e1-11ea-8040-7d00e77aad50.png">
Pour ce qui est de l'icône play pour les phrases c'est normal qu'elle n'apparaisse pas. Cela signifie que le texte n'est pas synchronisé avec le son.

[2020-09-17 10:32] #104 closed

[2020-09-17 10:48] alexis-michaud commented on #104
👍

[2020-09-17 11:07] sguillaume commented on #101
Juste pour info : Views est en ligne (mais ne fonctionne toujours pas)
https://pangloss.cnrs.fr/submit/tools.html (dans Scripts utiles)

[2020-09-18 14:20] maxime-fily commented on #101
J'ai trouvé une solution, assez inélégante, mais qui fonctionne : il suffit d'ouvrir le xml avec IE, puis d'enregistrer sous format html dans le même folder que le xml, puis d'ouvrir le fichier .xml.htm avec firefox.

[2020-09-18 14:27] maxime-fily commented on #101
Par ailleurs, l'outil marche parfaitement sous linux.
![Capture_views_sous_linux](https://user-images.githubusercontent.com/66940051/93609229-dc6c8c00-f9cb-11ea-9013-84e8c3e7188e.JPG)

[2020-09-20 14:04] alexis-michaud commented on #101
👍

[2020-09-28 17:32] boydmich commented on #101
En juillet 2019 j'avais ce problème. En fait, c'est un problème Firefox, mais il existe un remède.

Firefox ignorait le fichier style view_text.xsl et affichait tous les noeuds texte du fichier xml à la queue leu leu dans un gros paté. C'est l'affichage par défaut en l'absence de style xsl.

La "console web" (menu de Firefox > développement web > outils de développement > console web) affichait:

[2020-09-30 13:03] alexis-michaud opened #105 "Métadonnées Cocoon : des métadonnées présentes dans la base n'apparaissent pas dans la fiche exposée"
@BenjaminGalliot signale que deux ressources (audio+transcription) sont sans indication de locuteur.

├── crdo-NRU_M31_NUM_CL.wav
├── crdo-NRU_M31_NUM_CL.xml
├── crdo-NRU_M31_TONES.wav
├── crdo-NRU_M31_TONES.xml

Les identifiants Cocoon sont :

| fichier              | identifiant Cocoon                                             |  identifiant DOI |
|------------------|--------------------------

[2020-09-30 13:13] sguillaume commented on #105
Attention, le nom du speaker n'apparait que dans les métadonnées des ressources où il est présent (où on l'entend et le voit donc) à savoir dans les enregistrements audio ou vidéo.
Mais jamais dans les annotations (sauf erreur).
De la même manière, les nom des personnes qui font les transcriptions et traductions n'apparaissent que dans les métadonnées des annotations.

Cela répond ?

Je clos en su

[2020-09-30 13:13] #105 closed

[2020-09-30 13:23] alexis-michaud commented on #105
Ah compris ! Les 2 fichiers qui posent problème, sur l'ensemble du jeu de données na, sont les seuls qui sont conformes aux préconisations, en fait !!

[2020-09-30 13:23] alexis-michaud commented on #105
Tous les autres ont l'indication de la locutrice dans les métadonnées des annotations
alors qu'en fait cette indication ne devrait pas y figurer !

[2020-09-30 13:25] alexis-michaud commented on #105
@BenjaminGalliot va revoir son script en fonction.

Quant à toiletter les métadonnées pour virer l'info locuteur ("speaker") de _toutes_ les fiches de métadonnées pour toutes les langues de Cocoon...
... en veillant bien sûr à ce que l'info soit bien présente dans les métadonnées du fichier média correspondant ^^ ...
Bon courage :)

[2020-09-30 13:27] sguillaume commented on #105
Oui. Il y a beaucoup d'autres choses à nettoyer.
Un documentaliste nous aiderait bien :p

[2020-09-30 13:40] alexis-michaud opened #106 "Toilettage des métadonnées Cocoon : effacer les champs non pertinents dans les métadonnées des annotations"
En principe, l'info locuteur ("speaker") ne devrait pas apparaître dans les métadonnées des annotations, seulement dans les métadonnées des données primaires.
(Comme le relève @BenjaminGalliot c'est de la bonne informatique. La transcription n'est pas liée directement au locuteur, techniquement parlant, quoique sémantiquement liée, et ce lien s'établit via le fichier audio qui, lui, est bien direc

[2020-09-30 13:52] alexis-michaud commented on #105
C'est une demande qui ne paraît pas illégitime, à discuter avec des bibliothèques qui seraient prêtes à devenir partenaires du projet. A commencer par celles qui sont dans le périmètre de nos partenaires institutionnels & de nos tutelles ? Bibliothèque du centre Haudricourt, mais aussi BULAC, Direction des Bibliothèques de la Sorbonne Nouvelle, Bibliothèque Sainte-Geneviève...

[2020-10-13 18:39] alexis-michaud opened #107 "interface Pangloss v2 : conflits entre menu déroulant et menu fixe"
Quand on est sur une page et qu'on veut changer la langue, le menu déroulant "langue" ( fr / en ) recouvre en partie le menu fixe (Qui sommes-nous ?  Corpus  Dictionnaires  Contact), et quand on clique, c'est l'action correspondant au menu fixe qui est réalisée, de sorte qu'on se retrouve dans la page Dictionnaire, au lieu de changer simplement de langue et rester sur la même page, pour l'exemple

[2020-10-16 07:27] alexis-michaud opened #108 "site Pangloss v2 : affichage page "Pangloss Labs""
Actuellement, la page pangloss-labs, qui ne devrait s'afficher qu'en mode pro, ne s'affiche... qu'en mode non-pro. (Il n'y a pas de lien qui pointe vers elle, du coup, mais on peut forcer en demandant `pangloss-labs` sans la mention PRO.)

Sur l'interface d'admin pour cette page, seuls apparaissent les champs "français" et "anglais", ce qui n'est pas gênant pourvu qu'en coulisses ça soit bien cons

[2020-10-16 09:40] EdouardSombie commented on #107
Problème réglé

[2020-10-16 09:50] EdouardSombie commented on #108
Le problème pour la page "pangloss labs" est réglé.
Idem pour la page "outils".
Ces deux pages ne sont plus accessible en "forçant" le mode normal dans l'url

[2020-10-16 09:54] #107 closed

[2020-10-16 09:55] #108 closed

[2020-10-16 16:21] alexis-michaud commented on #57
A noter : réalisation par Benjamin Galliot en 2020 d'un script pour le téléchargement par langue, en bon ordre: [`retriever.py`](https://gitlab.com/lacito/pangloss-elpis/-/blob/master/retriever.py)

[2020-10-18 14:08] alexis-michaud opened #255 "lecture d'un manuscrit en mode vidéo"
Idée d'innovation : avoir la lecture du manuscrit, non pas en mode audio, mais en mode vidéo. Dans ce scénario, l'enquêteur aurait enregistré une vidéo de la personne lisant le manuscrit.

Le lecteur EASTling offrirait alors une vue sur la vidéo de la personne qui lit le manuscrit, en même temps qu'on voit l'image du manuscrit avec mise en valeur de l'unité en cours de lecture (mot, syllabe...). C

[2020-10-19 06:46] alexis-michaud opened #202 "alignement à revoir pour gloses interlinéaires : confusion entre lignes"
Document :
corpus/show?mode=pro&oai_primary=cocoon-16586ac3-6bba-3c3f-86d9-0b9f877c605a&oai_secondary=cocoon-ec43abba-bd90-3970-a9a3-1f69ddbd75c0&optionWords=true&optionNotes=true&optionTranscriptions=%2Bphone&optionTranslations=%2Bcn%2Bfr&optionGlosses=%2Bcn%2Bfr%2Ben&optionWholeTranscriptions=false&optionWholeTranslations=%2Bcn

L'unité /mi˧-ʝi˩-tsɤ˧˥/, encodée comme un mot (\<W\>), se trouve ré

[2020-10-19 20:07] alexis-michaud commented on #69
Fait pour le site Pangloss version 2.

En français :
[code]

En anglais :

[code]

[2020-10-19 20:07] #69 closed

[2020-10-19 20:09] alexis-michaud opened #109 "affichage licence sur page de consultation d'une ressource"
Les mentions légales signalent que :

Mais ce n'est pas encore implémenté : la licence n'est pas affichée dans le volet de droite de la page où on consulte une ressource.

@Doudou-git

[2020-10-19 20:11] alexis-michaud opened #110 "affichage mentions légales sur page de consultation d'une ressource"
Il semble que le lien vers les mentions légales n'apparaisse pas, actuellement, sur la page de consultation d'une ressource (pas de 'pied de page').

@Doudou-git @EdouardSombie

[2020-10-20 09:35] EdouardSombie commented on #109
J'ai ajouté un bloc affichant la licence de la ressource.
Si cette licence est une url, cette dernière est cliquable (lien externe)

[2020-10-20 11:06] #109 closed

[2020-10-20 14:50] alexis-michaud commented on #60
en traitement dans le cadre de la montée de version du lecteur Eastling pour le site Pangloss v2

[2020-10-20 14:50] #60 closed

[2020-10-20 14:56] alexis-michaud opened #111 "Affichage des documents, mode "pro" et "non-pro""
**Exposition des aménagements à faire pour l'affichage des documents :**

Etat au 21 décembre 2020 :
![image](https://user-images.githubusercontent.com/6072524/102789264-2aff3d00-43a4-11eb-96fd-9fc5c5c8869f.png)

(document : https://pangloss.cnrs.fr/ ... /corpus/show?lang=fr&mode=pro&oai_primary=cocoon-b7353e0a-4bb0-4262-b53e-0a4bb0e26214&oai_secondary=cocoon-5f66bd3a-c0a4-4c78-a6bd-3ac0a48c789b&o

[2020-10-22 14:20] alexis-michaud opened #112 "bug légende photos"
Quand j'indique les légendes des photos en oubykh : pour la photo de M. Tevfik Esenç, j'indique :
Tevfik Esenç à l'âge de 57 ans (en 1962)
Tevfik Esenç at age 57 (year 1962)

Ca enregistre, tout va bien... mais les champs sont intervertis.
- ce qui a été saisi comme champ "anglais" apparaît dans le champ "français"
- le champ "anglais" se trouve tronqué :
Tevfik Esenç at age 57 (year 1962)
Tevfik

[2020-10-24 10:04] EdouardSombie commented on #112
Problème réglé.
Il va sans dire que le contenu accepte tous les caractères :)

[2020-10-27 20:00] alexis-michaud opened #113 "Liste des choses à faire pour le basculement vers le nouveau site"
L'ouverture au public du nouveau site est maintenant prévue pour le **15 janvier 2021**.

Pour que la transition se passe au mieux, peut-être serait-il utile de constituer ici une liste des tâches à effectuer, de façon à n'en oublier aucune ?

- modifier les liens dans les pages HTML de chaque corpus, de façon à ce que les liens vers les images et autres liens internes au site pointent bien vers l

[2020-10-27 20:02] #112 closed

[2020-10-30 13:38] sguillaume commented on #113
- Edouard a surement déjà prévu que tout ce qui est V2 dans les urls disparaitra lorsque le site sera mis en ligne officiellement. Edouard ?

- Et les DOI pointent déjà vers pangloss.cnrs.fr

[2020-10-30 13:44] EdouardSombie commented on #113
Oui, je confirme :)
Pour faire simple, on remplacera toutes les occurences de "https://pangloss.cnrs.fr/v2/" par "https://pangloss.cnrs.fr/" dans les champs de la base de données.
Cela ne nous empêchera pas de faire un petit tour de vérification !
J'aurai également deux changements à faire dans le script php.

[2020-10-30 13:45] sguillaume commented on #113
Ok super !

[2020-11-02 11:57] alexis-michaud opened #114 "site Pangloss v2 : titre des pages HTML à revoir"
Actuellement :

`<title>Pangloss | Collection - yongning na corpus - Le mariage de la soeur (version 1)</title>`

(identifiants de cet exemple : `show?lang=fr&oai_primary=cocoon-3dd9341b-647a-33d3-b0fd-2b0ab0e7f638&oai_secondary=cocoon-46ae2130-95ad-342d-9606-ef3d47594bee`)

C'est un peu un mélange entre français et anglais :smiley:

La barre verticale serait à mettre après le nom complet de la co

[2020-11-02 12:40] alexis-michaud opened #115 "fichiers électroglottographiques : ce ne sont pas des annotations"
(ticket déplacé depuis [le dépôt du lecteur Eastling](https://github.com/CNRS/eastlingplayer/issues/14))

Un fichier électroglottographique, c'est un signal WAV de format identique à l'audio, mais de contenu différent (signal enregistré en faisant passer un courant de très basse intensité et de très haute fréquence entre 2 électrodes posées de part et d'autre du larynx).

Dans la version actuelle

[2020-11-02 15:58] alexis-michaud opened #204 "balise FOREIGN à traiter"
Affichage en italique ?

`        <FORM kindOf="phono">aː̃ki yiknoŋ <FOREIGN xml:lang="ne">bhālu</FOREIGN>-ha dusi dzaːkom ɩxtse.</FORM>
`

Exemple :
corpus/show?oai_primary=cocoon-b780e400-fff4-3c5c-9f42-d21b674a5060&oai_secondary=cocoon-7bada1f0-4742-30ef-93b4-58ab3c40f47a&optionWords=true&optionNotes=true&optionTranscriptions=%2Bphono&optionTranslations=%2Ben%2Bfr&optionGlosses=&optionWholeTra

[2020-11-03 09:40] sguillaume commented on #111
On pourrait par exemple.

Pour le mode pro, par défaut :
- affichage de toutes les transcriptions
- affichage des gloses
- affichage de toutes les traductions ?
- pas d'affichage des notes

Pour le mode grand public, par défaut :
- pas d'affichage des transcriptions
- pas d'affichage des gloses
- affichage de toutes les traductions
- pas d'affichage des notes

Avec à chaque fois des petites boites

[2020-11-03 10:16] alexis-michaud commented on #111
Ah, avis très différent ! Je serais pour afficher beaucoup plus : presque tout.

Mode pro, par défaut : comme ce que tu suggères (y compris : **afficher toutes les traductions**, oui), et **afficher les notes**.

Mode grand public, par défaut : tout afficher sauf les notes. Autrement dit :
- afficher les transcriptions, bien sûr (et toutes celles qu'on a : orthographe et notation 'savante' en alph

[2020-11-03 11:07] alexis-michaud commented on #66
Ticket fermé car l'échange se passe désormais sur un autre dépôt :
https://github.com/CNRS/eastlingplayer/issues/
et dans la discussion de l'intégration du lecteur dans la version 2 de l'interface Pangloss, sur le présent dépôt.

[2020-11-03 11:07] #66 closed

[2020-11-03 11:08] alexis-michaud commented on #37
Fait pour la version 2 du site Pangloss
et en cours d'affinement : voir #114

[2020-11-03 11:08] #37 closed

[2020-11-03 11:12] alexis-michaud commented on #93
La fondation de l'Institut des langues rares de l'Ecole pratique des hautes études a fourni l'occasion de discussions approfondies à ce sujet.
- Pour le français : ça marche bien, manifestement, c'est évocateur
- Pour l'anglais : c'est à éviter. Préférer des formules comme "linguistic heritage and diversity".

Au passage, observation d'un collègue néerlandais :
"si je traduisais "Institut des lang

[2020-11-03 11:12] #93 closed

[2020-11-03 17:47] EdouardSombie commented on #110
Footer rétabli !

[2020-11-03 19:10] #110 closed

[2020-11-04 14:15] sguillaume commented on #111
L'idée pour le grand public est que ce qu'ils verront quand ils consulteront les pages soit parlant pour eux.
Si on commence à tout afficher ils vont prendre peur.
Alors que s'ils ont une page claire dès le premier regard (transcription et traduction) ils auront sûrement envie ensuite de cocher d'autres cases qui les intrigueront pour voir ce qui n'est pas affiché au lieu de ne pas savoir ce qu'il

[2020-11-04 14:45] alexis-michaud commented on #111
OK tu m'as convaincu.

Serait-on d'accord pour l'affichage ci-dessous ?

Mode pro, par défaut : comme ce que tu suggères (y compris : **afficher toutes les traductions**, oui), mais aussi **afficher les notes**.

Mode grand public, par défaut : tout afficher sauf les notes et les gloses (et les traductions & transcriptions au niveau du texte entier). Autrement dit, afficher les transcriptions et l

[2020-11-04 14:58] sguillaume commented on #111
Moi je n'aurais pas affiché les notes pour le mode pro non plus car ça fait beaucoup de choses sur une page.
Mais pour le reste tout à fait d'accord avec toi ! :)

[2020-11-04 15:37] alexis-michaud commented on #111
Alors entendu pour ne pas afficher les notes par défaut.

@EdouardSombie @m8nli9ht à vous de jouer ?

[2020-11-07 18:36] alexis-michaud opened #116 "page "Contact" du site v2"
Qu'y mettre ? Un formulaire de contact ? L'adresse courriel pangloss@cnrs.fr ?

[2020-11-11 14:50] alexis-michaud opened #117 "affichage intermittent des textes dans la version 2"
Sur mon ordinateur (aussi celui de Balthazar), affichage intermittent des textes dans la version 2 : tantôt rien ne s'affiche, tantôt ça s'affiche.

Exemple : le document ci-dessous

show?lang=en&oai_primary=cocoon-8c729359-ac07-46bd-b293-59ac07b6bdb5&oai_secondary=cocoon-0dd84155-14a7-4115-9841-5514a781159a

Ca passe de l'un à l'autre (de façon qui semble aléatoire) en rechargeant la page. L'adre

[2020-11-11 14:53] alexis-michaud commented on #117
Navigateur : Chrome Version 86.0.4240.183 (Build officiel) (64 bits)
Même souci avec le navigateur Brave (Balthazar)

[2020-11-11 14:53] alexis-michaud commented on #117
@EdouardSombie

[2020-11-11 15:08] alexis-michaud commented on #117
L'affichage marche en revanche sans problème sur l'ordinateur de @m8nli9ht

[2020-11-11 15:42] sguillaume commented on #117
Je ne sais pas si ça peut aider mais de mon côté rien ne s'affiche (mais tout est décoché par défaut) ni sur chrome ni sur firefox ni sur safari avec mon mac.
Par contre si je coche les cases ça s'affiche sur tous. Idem quand je recharge les pages.

[2020-11-11 15:48] alexis-michaud commented on #117
Une image pour clarifier le problème : ça sera tout de suite plus clair. Quand rien ne s'affiche, c'est pas des boîtes vides, c'est vraiment... rien.

![image](https://user-images.githubusercontent.com/6072524/98832848-a1239200-243d-11eb-89a2-6513d2015217.png)

[2020-11-11 15:52] m8nli9ht commented on #117
Sur celui là le problème vient du player et je l'ai corrigé a chaud pendant
notre visio, j'enverrai le build a Edouard pour l'intégrer.

Le mer. 11 nov. 2020 à 16:48, Alexis Michaud <notifications@github.com> a
écrit :

[2020-11-11 15:53] #117 closed

[2020-11-12 10:08] alexis-michaud opened #252 "Validation du lecteur : liste de documents à tester"
- Un document avec niveau M (morphèmes) :

The couple and the bear (langue : hayu)
oai:crdo.vjf.cnrs.fr:cocoon-b780e400-fff4-3c5c-9f42-d21b674a5060

En l'absence de `<FORM>` au niveau du mot (`<W>`), il faut concaténer les morphèmes contenus au sein d'un `<W>`.
Pratique "ancienne" (v1) : mettre un tiret entre les divers morphèmes d'un mot.

(Un deuxième exemple : cocoon-33ecd2ad-12cc-30df-97c2-58f

[2020-11-13 16:58] alexis-michaud opened #118 "site v2 : carte des langues : vidéos transcrites n'apparaissent pas comme "Annotation""
La carte des corpus permet de sélectionner les corpus qui ont des annotations (fichiers XML de transcription).

![image](https://user-images.githubusercontent.com/6072524/99098688-a1589480-25d9-11eb-93bb-6d6b3e7c65d4.png)

Quand on coche "Avec annotation", le kakabé disparaît :

![image](https://user-images.githubusercontent.com/6072524/99098740-b6cdbe80-25d9-11eb-8858-ba1d4be6e63c.png)

Pourtant,

[2020-11-13 17:07] alexis-michaud commented on #118
('bug' relevé par @BenjaminGalliot )

[2020-11-15 08:03] alexis-michaud commented on #100
Discussions en cours dans le cadre du projet Elpis ἐλπίς

[2020-11-15 08:03] #100 closed

[2020-11-15 08:05] alexis-michaud commented on #96
Plutôt pour site "v3", vers 2022 ou plus tard ?

[2020-11-15 08:07] alexis-michaud commented on #90
C'est en route.

[2020-11-15 08:07] #90 closed

[2020-11-15 08:08] alexis-michaud commented on #92
A envisager pour la v3

[2020-11-15 09:58] alexis-michaud commented on #91
C'est en route :

![image](https://user-images.githubusercontent.com/6072524/99181779-0d014580-2731-11eb-86ff-96272e5c47ad.png)

Le Comité pour la Science Ouverte ne semble pas avoir de logo pour l'instant.
Pour OpenAIRE et le groupe Pérennisation des Informations Numériques : à voir à l'avenir.

[2020-11-15 09:58] #91 closed

[2020-11-15 10:05] alexis-michaud commented on #46
Mentions légales prêtes.
Reçu le certificat attestant de l'inscription au registre du traitement de données à caractère personnel.
Choix de licence pour les outils : peut varier en fonction des partenaires. Par exemple pour [Elpis](https://github.com/CoEDL/elpis) (transcription automatique), la licence choisie est Apache-2.0.

[2020-11-15 10:05] #46 closed

[2020-11-15 10:11] alexis-michaud commented on #42
Déplacé vers #70

[2020-11-15 10:11] #42 closed

[2020-11-15 10:26] alexis-michaud opened #119 "Pangloss v2, mode PRO : téléchargement métadonnées depuis page consultation ressource"
Dans la v1, depuis la page de consultation d'une ressource, on peut avoir accès aux métadonnées intégrales de la ressource primaire et aussi de la ressource secondaire. En bas à gauche sur l'image ci-dessous :

![image](https://user-images.githubusercontent.com/6072524/99182424-3623d500-2735-11eb-9606-568701588611.png)

Il faudrait offrir la même possibilité dans la v2, **en mode PRO**. (Ca serait

[2020-11-15 10:35] alexis-michaud opened #120 "Pangloss v2, mode PRO : affichage identifiants depuis page consultation ressource"
Il s'agit d'afficher les identifiants (dans le volet de droite), afin que les utilisateurs n'aient pas besoin d'aller chercher les OAI tant bien que mal dans l'URL.

Un modèle possible, c'est le volet de droite de l'interface de publications scientifiques HAL :
![image](https://user-images.githubusercontent.com/6072524/99182654-6cae1f80-2736-11eb-81ba-a0a208a175b3.png)

Les identifiants affichés :

[2020-11-15 10:56] alexis-michaud commented on #120
(recommandation de @BenjaminGalliot pour les informaticiens qui ont besoin des identifiants : ils passent par un DOI pour accéder à la ressource et il est souhaitable qu'ils puissent voir rapidement les identifiants)

[2020-11-17 16:48] EdouardSombie commented on #90
👍

[2020-11-17 16:49] EdouardSombie commented on #92
Je te laisserai le soin de faire toute la liste des fonctionnalités de la v3 :)

[2020-11-17 17:09] EdouardSombie commented on #46
Il faudrait ajouter cela à la page mentions légales :

SVG icons "Right", "Speaker", "Film", "XML File", "TXT File", "JPG File", "Map pin", "Plus", "Minus", "Magnifying Glass" and "Download" by Hea Poh Lin, from thenounproject.com.

[2020-11-17 17:12] EdouardSombie commented on #120
Du coup, je crée un nouveau bloc dans la colonne de droite que j'appelle "identifiants" ?

[2020-11-17 20:04] alexis-michaud commented on #46
Fait ! Merci bcp

[2020-11-17 20:05] alexis-michaud commented on #120
Oui. Pour la version PRO du site.

[2020-11-17 20:12] alexis-michaud commented on #92
Entendu. J'enlève les autres étiquettes des tickets pour la v3 afin qu'il ne reste que l'unique étiquette "v3". Ainsi la liste des fonctionnalités de la v3 pourra se faire facilement.

[2020-11-19 14:29] EdouardSombie commented on #120
C'est quoi l'identifiant hdl dont tu parles ?

[2020-11-19 14:56] alexis-michaud commented on #120
HANDLE
Il figure dans les métadonnées COCOON
Si ça n'est pas dans les métadonnées transmises par Pangloss pour la base SQL, tu peux laisser tomber : ça fait "riche" de tout montrer mais s'il y a ARK et DOI et l'identifiant COCOON c'est déjà super !

[2020-11-19 16:14] EdouardSombie commented on #118
Salut Alexis et Séverine,
Ce problème est dû au fait qu'un certain nombre de resources secondaires ont un champ "type" vide dans la base de données.
@sguillaume : tu peux faire en sorte qu'il soit rempli ? Ou sinon, je peux leur affecter une valeur par défaut (text ou wordlist).

[2020-11-20 14:52] alexis-michaud commented on #111
La balle passe dans le camp de Matthew @m8nli9ht

[2020-11-26 20:17] alexis-michaud commented on #120
Très beau boulot ! Merci @EdouardSombie

![image](https://user-images.githubusercontent.com/6072524/100389093-b21ef680-302c-11eb-9a5e-6e102beaab9f.png)

[2020-11-26 20:26] alexis-michaud commented on #119
Super, beau boulot !

Un détail : j'ai beau saisir et re-saisir la traduction de `metadata_plural`, rien n'y fait :

![image](https://user-images.githubusercontent.com/6072524/100389498-cf07f980-302d-11eb-8352-9f43729b3c18.png)

le champ reste vide après enregistrement
![image](https://user-images.githubusercontent.com/6072524/100389545-f068e580-302d-11eb-951c-92b42c3af5b9.png)

Du coup c'est le n

[2020-11-27 08:41] sguillaume commented on #118
C'est déjà fait !

[2020-11-27 08:41] #118 closed

[2020-11-27 09:41] alexis-michaud opened #121 "passage à https pour les liens vers fichiers dans Cocoon"
URL de référence vers le fichier original dans les métadonnées fournies pour le site v2 Pangloss : est tout en HTTP, il faut tout passer en HTTPS

[2020-11-27 09:47] sguillaume commented on #121
Le site est en https donc sécurisé.
Je ne vois pas pourquoi ça détecte à un moment un site non sécurisé alors qu'on est toujours clairement en https.

[2020-11-27 09:57] alexis-michaud commented on #121
C'est le lien fourni dans la base PHP / SQL qui est http:// semble-t-il ?
ce que tu envoies à Edouard
Il suffit de changer là-dedans, aucun souci côté Cocoon en effet

[2020-11-27 09:57] alexis-michaud commented on #121
tu vois, c'est des liens comme

[http://cocoon.huma-num.fr/data/simon/2TIB_Jeux-Reb2017-FINAL.xml](http://cocoon.huma-num.fr/data/simon/2TIB_Jeux-Reb2017-FINAL.xml)

[2020-11-27 09:58] alexis-michaud commented on #121
(ici : ... `corpus/show?oai_primary=cocoon-7d6235a0-7b5a-416d-8077-01eae61efd28&oai_secondary=cocoon-b1d1b067-16fd-47db-b3c5-60ed2dd45045&optionWords=true&optionTranscriptions=%2Bother&optionTranslations=%2Bbo%2Bfr%2Ben&optionGlosses=&optionNotes=&optionWholeTranscriptions=false&optionWholeTranslations=` )

[2020-11-27 10:48] sguillaume commented on #121
Je n'envoie aucun lien à Edouard et les seules url qui sont dans la base de données sont des urls cocoon de mon côté.

[2020-11-27 10:49] alexis-michaud commented on #121
Ces URL sont en http ? ou en https?
par exemple comme ci-dessous ?
http://cocoon.huma-num.fr/data/simon/2TIB_Jeux-Reb2017-FINAL.xml

[2020-11-27 11:00] sguillaume commented on #121
Elles sont en http. Comme pour tous les corpus de Cocoon. Mais ça renvoie à du https donc c'est sécurisé dans tous les cas.

[2020-11-27 11:08] alexis-michaud commented on #121
Si on change juste l'adresse (la syntaxe) en remplaçant http par https (dans le lien), ça marche, non ?

Est-ce que ça ne serait pas une bonne idée de faire ainsi ? Cela suffirait pour éviter que ne s'affiche l'inquiétant message "Non sécurisé" dans les navigateurs. Ce message est en effet affiché pour les pages qui comportent des liens vers du non sécurisé (http).

![image](https://user-images.gi

[2020-11-27 11:37] sguillaume commented on #121
J'ai écrit à Michel pour voir si l'on peut modifier ça dans cocoon au versement.
Ca n'est pas une bonne idée de bidouiller des modifs et de ne pas prendre les infos telles qu'elles sont déclarées (le jour où il y aura un changement ça peut poser des problèmes)

[2020-11-27 11:55] alexis-michaud commented on #121
Super.

Globalement, le passage à https, ça paraît quelque chose à faire, même dans les cas où il n'y aurait pas de risque de sécurité étant donné la façon dont fonctionnent les serveurs. Non ?

Le simple affichage d'une mise en garde "Non sécurisé" peut légitimement inquiéter des visiteurs assez sensibilisés aux questions de sécurité informatique pour avoir appris à se méfier... mais pas assez ca

[2020-11-27 12:13] sguillaume commented on #121
Ca sera fait mais pas dans l'immédiat car ça implique des modifs dans les traitements.
Voilà !

[2020-11-27 13:06] #121 closed

[2020-12-07 09:52] alexis-michaud commented on #119
C'est tout bon :)

[2020-12-07 09:52] #119 closed

[2020-12-07 10:06] alexis-michaud opened #122 "ajustements graphisme Pangloss v2"
Le bandeau d'accueil pourrait-il être de taille un peu plus réduite ?
![image](https://user-images.githubusercontent.com/6072524/101337522-0ff8dd00-387c-11eb-9187-f5634b9c774f.png)

de même pour le carrousel ?
![image](https://user-images.githubusercontent.com/6072524/101337637-34ed5000-387c-11eb-85cf-dcd3b4a3d079.png)

Pour l'instant, ça occupe vraiment tout l'écran

[2020-12-07 10:26] alexis-michaud opened #123 "Pangloss v2 : NaN"
![image](https://user-images.githubusercontent.com/6072524/101339278-7a128180-387e-11eb-814b-c06f2b14fc1d.png)

NaN = [Not a Number](https://fr.wikipedia.org/wiki/NaN), d'où il sort ? Rien dans le code. NaN est ajouté à la fin de chaque élément de premier niveau (W), à la fin de sa forme. En exposant.

Un _effet de bord_ dans l'interprétation d'un contenu Unicode ?? C'est pourtant un contenu sans

[2020-12-09 21:44] alexis-michaud commented on #120
Ah, juste un truc : pour l'identifiant OAI, celui de la ressource primaire a son préfixe "oai:crdo.vjf.cnrs.fr" tandis que celui de la ressource secondaire (annotation) ne l'a pas. Il est donc incomplet : il faudrait qu'un utilisateur qui récupère un identifiant OAI puisse l'employer tel quel, sans devoir y préfixer (comme on le fait nous tout naturellement) l'info concernant le réservoir de donné

[2020-12-14 14:01] sguillaume opened #147 "Afficher les pdf avec le lecteur"
Lorsque le fichier d'annotation est un pdf, le lecteur ne l'affiche a priori pas (ça tourne dans le vide et il ne se passe rien).
Exemple avec cette ressource :https://pangloss.cnrs.fr/ (...) /corpus/show?oai_primary=cocoon-0c4bfc27-568d-370a-825b-e0009317affa&oai_secondary=cocoon-82f1a5e1-3ed6-33d2-be0e-115f030aeffc

[2020-12-21 14:29] alexis-michaud opened #124 "listes de mots : boîte d'options vide"
![image](https://user-images.githubusercontent.com/6072524/102787298-26855500-43a1-11eb-8dbe-cb186e33a14e.png)

Exemple : https://pangloss.cnrs.fr/ ... /corpus/show?lang=fr&oai_primary=cocoon-bb37b586-9997-3081-9a2f-d06f0c2a3c71&oai_secondary=cocoon-75257e89-abfe-3a85-bee8-c393c13496e0

Serait-il possible d'indiquer la version du _build_ Eastling à mesure du développement ? par exemple par une mon

[2020-12-21 14:37] alexis-michaud commented on #123
Est-ce que ça concerne le lecteur, @m8nli9ht ? ou l'intégration, @EdouardSombie ? ou les deux ??
Merci++

[2020-12-21 14:46] alexis-michaud commented on #28
Fait pour version 2. Merci à @MinhChauNGUYEN, Albert BaRo et @Balthazar45 !

[2020-12-21 14:46] #28 closed

[2020-12-21 15:03] m8nli9ht commented on #124
MEA CULPA, j'avais relivré le parser (un peu tard un soir sans doute) en oubliant de "décommenter" 3 lignes de codes pour les wordlist, ça devrait refonctionner (sans livraison de build)

[2020-12-21 15:04] m8nli9ht commented on #123
je me demande si ce n'est pas lié au #124 que je viens de corriger, peux-tu revérifier stp ?

[2020-12-21 15:36] sguillaume commented on #111
Je n'aurais pas affiché la forme des mots et la forme des morphèmes si l'une est la concaténation de l'autre. Ça fait double affichage.
Je l'aurais laissé en option à cocher.
Ou mieux j'aurais affiché directement le niveau mots avec tirets pour indiquer le découpage en morphèmes comme ça on a les 2 infos en 1 (et j'aurais fait idem pour les gloses). Mais je crois que ma dernière proposition ne te

[2020-12-21 16:14] alexis-michaud commented on #123
Oui c'est réglé ! Super
(document : https://pangloss.cnrs.fr/ ... /corpus/show?lang=fr&oai_primary=cocoon-2b7c4375-6145-3736-93d2-de60c7e28a9b&oai_secondary=cocoon-3b7748e7-ab4e-3771-b6e1-548d6dac3597&optionTextTranscriptions=&optionTextTranslations=&optionSentenceTranscriptions=&optionSentenceTranslations=&optionWordTranscriptions=phono&optionWordTranslations=vn&optionMorphemeTranscriptions=&opti

[2020-12-21 16:14] #123 closed

[2020-12-21 17:24] #124 closed

[2020-12-22 10:28] alexis-michaud opened #125 "défilement vertical au fil de la lecture"
Le défilement vertical au fil de la lecture est en place pour les TEXT. Mais lors du défilement vertical des "boîtes" pour les phrases successives, la boîte se positionne en haut de l'écran... et du coup la transcription de la phrase est justement cachée par le bandeau :) (ainsi que le numéro de phrase et le DOI)
![image](https://user-images.githubusercontent.com/6072524/102878514-af0b0080-4448-11

[2020-12-22 10:29] alexis-michaud opened #126 ""karaoké" pour les listes de mot : défilement vertical à mesure de la lecture"
(Au 22 décembre 2020)

Un défilement pour les textes est en place : l'affichage est synchronisé avec la lecture (la phrase qu'on entend dans l'audio/la vidéo est placée à un certain endroit sur l'écran ; ça défile au fil de la lecture).

Pour les listes de mots (type WORDLIST), **ce "karaoké" n'est pas encore en place**.

Plusieurs solutions possibles :

- défilement automatique, similaire à celui

[2020-12-23 15:33] EdouardSombie commented on #122
Fait :)

[2020-12-23 15:43] EdouardSombie commented on #120
Fait :)

[2020-12-23 15:47] EdouardSombie commented on #115
Yo, c'est réglé, non ?
Il faut mettre un autre terme que 'Annotation 1' dans le bloc 'Téléchargements' pour les fichiers egg ?
Si oui, lequel ?

[2020-12-23 16:08] EdouardSombie commented on #125
Salut, il faudrait que ce soit le player qui décale le scroll de  350px vers le bas par rapport à ce qu'il fait actuellement.
@Matthew : tu peux le faire ? Ce sera plus propre que si je viens rajouter du js pour décaler les cartes vers le bas...

[2020-12-23 17:23] EdouardSombie commented on #114
Fait :)

[2020-12-23 17:24] EdouardSombie commented on #116
Oui on peut mettre un formulaire de contact.
Quels champs vous voudriez ?
En plus de l'adresse email, il faut mettre une adresse physique, non ?
Fais-moi la liste et je fais la page :)

[2020-12-23 21:00] #122 closed

[2020-12-23 21:01] #120 closed

[2020-12-23 21:03] alexis-michaud commented on #115
En effet, il faudrait indiquer "Signal électroglottographique" (en anglais: "Electroglottographic signal") au lieu de "annotation n"
![image](https://user-images.githubusercontent.com/6072524/103036697-aad70400-456a-11eb-87c6-81b68f63ff5d.png)

Merci bcp !

[2020-12-23 21:10] #114 closed

[2020-12-23 21:17] alexis-michaud opened #127 "site Pangloss v2 : ne pas afficher les options 'non cliquables'"
Pour un texte comme celui-ci : oai:crdo.vjf.cnrs.fr:cocoon-a682c31e-594b-3a5c-8419-73e85204f763 (identifiant annotation), il n'y a que la FORM au niveau S. Dans un cas comme celui-là, **il ne faut pas afficher diverses options qui ne sont en fait pas disponibles**. La boîte ci-dessous propose :

- Traduction du texte
- Traduction des phrases
- Transcription des mots
- Traduction des mots
- Transcr

[2020-12-28 00:50] sguillaume commented on #116
Pour la page contact,

- Un formulaire peut être bien
Avec un champ du style "sujet" et un champ "message"
(Il nous faut aussi le mail de la personne pour pouvoir lui répondre)
Ce formulaire enverrait un mail à une ou plusieurs personnes.

- Mais il faut absolument mettre aussi une adresse mail visible pour les personnes qui préfèreraient écrire un mail (et par exemple mettre des choses en pièces

[2020-12-28 09:30] alexis-michaud commented on #116
Quels champs ? Quelque chose de simple : un champ "sujet", un champ "message", et le courriel de la personne pour pouvoir lui répondre.
Et une case 'Envoyer une copie du message à mon adresse courriel' (case cochée par défaut). Parce qu'on a une trace d'un courriel envoyé mais pas du contenu de ce que l'on a mis dans un formulaire.

Ce formulaire enverrait un mail à pangloss@cnrs.fr et aussi à l'a

[2020-12-29 10:38] EdouardSombie commented on #116
Salut
Je m'occupe de faire la page d'ici la fin de semaine.

[2020-12-29 10:40] EdouardSombie commented on #127
C'est plutôt au niveau du lecteur que ça se joue :)

[2020-12-29 10:55] alexis-michaud commented on #127
@m8nli9ht à toi de jouer !

[2020-12-29 16:45] alexis-michaud commented on #125
Juste pour signaler que c'est un peu urgent, à quelques jours de l'ouverture du site
:sweat_smile: :sweat_smile: :sweat_smile: :sweat_smile:

[2020-12-29 17:14] m8nli9ht commented on #125
Désolé je n'ai pas pu m'y mettre a cause des congés de Noël, je règle ça
demain ou jeudi.

Le mar. 29 déc. 2020 à 17:45, Alexis Michaud <notifications@github.com> a
écrit :

[2020-12-29 19:53] alexis-michaud commented on #125
:relieved::relieved:

[2020-12-30 11:03] m8nli9ht commented on #127
ok traité

[2020-12-30 13:34] #127 closed

[2020-12-30 13:37] alexis-michaud commented on #126
Doublon avec #126, on ferme ce ticket-ci.

[2020-12-30 13:37] #125 closed

[2020-12-30 14:15] alexis-michaud opened #128 "Affichage en noir des traductions au niveau S, et espacement"
Proposition de @sguillaume (extrait du ticket #111 , maintenant clôturé) : "j'aurais affiché en noir les traductions et mis un écart entre elles pour plus de lisibilité"

[2020-12-30 14:19] alexis-michaud commented on #111
Ticket clôturé : réparti entre #128, https://github.com/CNRS/eastlingplayer/issues/27 et autres tickets.

[2020-12-30 14:19] #111 closed

[2020-12-30 17:50] sguillaume opened #129 "Verrou pour ressources privées"
Est ce que l'on pourrait afficher un petit verrou devant les ressources privées ?
ex. https://pangloss.cnrs.fr/v2/corpus/Tib%C3%A9tain%20de%20l'Amdo

[2020-12-30 17:51] sguillaume opened #130 "Réduire encore le bandeau du haut ?"
Un retour utilisateur :
"Le bandeau du haut qui se réduit quand on descend dans la page pourrait être réduit dès le départ car la taille de ce qui est écrit est à peine réduite."

[2020-12-30 17:53] sguillaume opened #131 "Carte avec étiquette nom de langue uniquement ?"
Un autre retour utilisateur :
"Pour la carte, ce serait bien qu'une étiquette avec seulement le nom
de la langue apparaisse quand on passe la souris dessus (sans avoir
besoin de cliquer)"

[2020-12-30 17:54] sguillaume opened #132 "Zoom et centrage sur carte ?"
Retour utilisateur :
"Ce serait bien aussi de pouvoir cliquer sur une zone de la carte (ou
une des épingles), puis zoomer, et que la carte se centre
automatiquement sur la zone sur laquelle on avait cliqué, plutôt
qu'elle reste centrée sur l'Afrique. Ou sinon, faire en sorte que la
carte soit automatiquement centrée sur l'Asie plutôt que sur l'Europe,
puisque c'est là qu'il y a le plus de ressourc

[2020-12-30 19:07] alexis-michaud commented on #130
En effet, c'est le logo qui change de taille, le reste est stable (et c'est mieux que ça soit stable !)

Personnellement je n'aime pas trop le côté dynamique : les changements dans l'affichage quand on se déplace sur la page. Et un bandeau du haut discret paraît mieux, pour un accès facilité au contenu.

A discuter à tête reposée avec d'autres utilisateurs ?

[2020-12-30 21:12] sguillaume opened #133 "Hyperliens sur logos"
Retour d'un utilisateur :
Sur le bas de la page https://pangloss.cnrs.fr/v2/
"Il faudrait qu'un hyperlien accompagne chaque logo"

[2020-12-30 21:15] sguillaume opened #134 "Petit guide utilisateur"
Demande d'un utilisateur :
"Je souhaite qu'il y ait un petit guide d'utilisation du site web : Le FAQ pourrait être utile aux nouveaux utilisateurs. Là, nous pouvons expliquer nos nouveaux points forts, tels que :
- MODE DE PRO: Quelles sont les différences entre le mode pro et le mode normal? (puisqu'il n'y a pas de grandes différences dans le site principal quand on passe d'un mode à l'autre, et

[2020-12-30 21:17] sguillaume opened #135 "Liste des langues présentées aussi par familles de langues ?"
Demande d'un utilisateur :
"Liste des corpus: En tant que linguiste, je souhaite qu'il y ait aussi la liste selon les familles de langues.
"

[2020-12-30 21:31] alexis-michaud commented on #133
Oui, c'est une idée qui vient spontanément : rendre les liens cliquables
mais Non, ça n'est pas une bonne idée :smiley: On en avait parlé avec Voltajazz : clairement, ça ne paraît pas souhaitable de donner aux visiteurs des liens externes à droite et à gauche. Il s'agit d'institutions faciles à trouver sur internet, pas de souci pour leur visibilité. En revanche il faut que les clics sur le site d

[2020-12-30 21:31] #133 closed

[2020-12-30 21:32] alexis-michaud commented on #134
Excellente idée

On pourrait penser à des tutoriels vidéo, dans diverses langues en fonction des talents disponibles dans les labos.

[2020-12-30 21:34] alexis-michaud commented on #134
@sguillaume tu serais disposée à coordonner ces tâches ?

[2020-12-30 21:37] alexis-michaud commented on #135
Demande légitime et naturelle, c'est plus en adéquation avec les préoccupations des linguistes que le découpage par pays, par exemple.
A-t-on l'info pour toutes les langues ? Si oui, c'est peut-être un effort supplémentaire qu'il vaudrait la peine de faire dès la v2 ? @sguillaume @EdouardSombie

[2021-01-02 21:09] alexis-michaud opened #136 "taille vidéo pendant lecture document : trop petite"
Actuellement (2 janvier 2021), la vidéo qu'on voit pendant la lecture d'un document est de très petite taille. Sur un écran de bonne taille, ça donne ceci :

![image](https://user-images.githubusercontent.com/6072524/103466564-820ef580-4d46-11eb-919d-78a66000f558.png)

Les dimensions pourraient sans doute être multipliées par 3. Sûrement par 2 sans problème.

Evidemment, il ne s'agit pas de faire

[2021-01-02 21:14] alexis-michaud opened #137 "compatibilité avec le navigateur Tor ?"
Le site Pangloss v2 n'est pas accessible par le navigateur Tor, semble-t-il.
![image](https://user-images.githubusercontent.com/6072524/103466722-9f908f00-4d47-11eb-8d0b-29356ec89f8a.png)
Est-ce que le site est trop gourmand en bande passante ?
Ca n'est sans doute pas un souci côté lecteur Eastling, puisque le souci apparaît dès la page d'accueil.

Après, on est pas forcé d'être compatible Tor, pu

[2021-01-02 23:58] sguillaume opened #138 "Photos bandeau page d'accueil"
Question/ retour d'un utilisateur :
"Page d’accueil, bandeau d'images: aucune d’image d'Océanie?"

[2021-01-02 23:59] sguillaume opened #139 "Mode "karaoké""
Retour utilisateur :
"Mode karaoké :  idéalement, la phrase en cours de lecture serait
mise en valeur par un changement de couleur du fond, comme sous l'ancienne version pour que l’internaute voie tout de suite où il se trouve."

[2021-01-03 00:08] sguillaume opened #140 "Type transcription"
Le type d'une transcription peut être "ortho", "phono", "phone" et "transliter" si je ne dis pas de bêtise.
Mais ça n'est pas un champ obligatoire et donc bien souvent rien n'est indiqué.
A ce moment là sur le site il y a écrit "other".
Il faudrait trouver un autre terme (et le traduire en français car c'est nommé "other" en français aussi).

Est ce que ne rien écrire mais laisser juste la case à

[2021-01-03 00:09] sguillaume opened #141 "Problème chargement annotation"
Retour utilisateur :
"Plusieurs fois je remarque que lorsque j'ouvre un
texte avec annotation [à partir de la liste du
corpus], l'annotation ne se charge pas du premier
coup, et donc la page reste blanche (sauf le titre +
le fichier audio);
il faut que je recharge (F5) pour que l'annotation
apparaisse.
C'est embêtant, car beaucoup de lecteurs ne
penseront pas à recharger la page."

[2021-01-03 00:17] sguillaume opened #142 "Problème alignement transcription"
Retour utilisateur :
"L'alignement de la transcription (phrase à phrase) n'est
pas homogène d'une phrase à
l'autre: tantôt la phrase commence à droite du bouton
lecture, tantôt en dessous du
bouton DOI.
Apparemment cela dépend de
la longueur de la phrase. Cf.
image. Peut-on harmoniser le
rendu ?"

[2021-01-03 00:20] sguillaume opened #143 "Moteur de recherche"
Retour utilisateur :
"Dans le moteur de recherche, **on ne sait pas vraiment quels sont les champs consultés**, on
navigue un peu à l’aveugle. Par exemple si je recherche « village » on obtient des résultats
qui tantôt ont la chaîne village dans le titre en français, tantôt dans le titre en anglais, tantôt
dans le nom du locuteur (ex. Elderly Persons' Association of Sanba village, Xianggelila
pref

[2021-01-03 10:00] alexis-michaud commented on #138
Ah, on y reconnaît le vigoureux et sympathique attachement de chacun.e à son propre domaine d'étude :) Un particularisme... si bien partagé qu'il devient une caractéristique commune (voire un terrain d'entente ?) entre chercheuses/chercheurs.

Les ressources mises en valeur changeront au fil du temps, ça fait partie de l'éditorialisation. Grâce au travail de collecte de photos, maintenant bien ent

[2021-01-03 10:18] alexis-michaud commented on #141
Affichage de textes sans chronocodes : bien vu. Un ticket a été ouvert [ici](https://github.com/CNRS/eastlingplayer/issues/46)

Bogue sporadique de page blanche, nécessité de recharger la page : en effet, problème constaté régulièrement sous Windows. Et en effet, un visiteur qui voit une page blanche et n'est pas familier des bizarreries du site conclut que ça ne marche pas, et est tenté d'aller v

[2021-01-03 10:20] alexis-michaud commented on #142
Serait-il possible de donner l'exemple et l'image ? Merci

[2021-01-03 11:04] sguillaume opened #144 "Moteur de recherche"
Retour utilisateur :
"Dans le moteur de recherche, **on ne sait pas vraiment quels sont les champs consultés**, on
navigue un peu à l’aveugle. Par exemple si je recherche « village » on obtient des résultats
qui tantôt ont la chaîne village dans le titre en français, tantôt dans le titre en anglais, tantôt
dans le nom du locuteur (ex. Elderly Persons' Association of Sanba village, Xianggelila
pref

[2021-01-03 11:04] #144 closed

[2021-01-03 11:15] alexis-michaud commented on #144
Un moteur de recherche, c'est un gros boulot. Il y aurait lieu de planifier quelque chose d'ambitieux dans un cadre plus général, celui du réseau [OLAC](http://www.language-archives.org/), et/ou [DELAMAN](https://www.delaman.org/).

[2021-01-03 11:34] sguillaume commented on #142
Voici un exemple :
https://pangloss.cnrs.fr/v2/corpus/show?lang=fr&oai_primary=cocoon-b148006e-0711-3e50-9bf3-e997bc51b04c&oai_secondary=cocoon-128072b6-49b3-3edf-991d-6eca7d1bf238&optionMorphemeTranscriptions=&optionMorphemeTranslations=&optionNotes=&optionSentenceTranscriptions=other&optionSentenceTranslations=fr&optionTextTranscriptions=&optionTextTranslations=&optionWordTranscriptions=&optionW

[2021-01-03 11:49] alexis-michaud commented on #142
@EdouardSombie Y aurait-il un moyen de renvoyer les boutons (S9, icône DOI, bouton de lecture) dans la marge à gauche ? (en dehors de la colonne principale)

Ainsi le texte occuperait toute la largeur de la colonne qui lui est consacrée, ce qui est optimal pour le bon affichage (pas seulement pour les longues phrases comme la S9, mais aussi pour de plus courtes, comme la S10 ou même des unités S d

[2021-01-03 12:03] sguillaume opened #145 "Représenter le volume d'un corpus ?"
Retour utilisateur :
"En cliquant au hasard sur les corpus on tombe sur certains qui ne sont constitués que d'un seul texte d'environ 1 minute (voir ex. Matisoff mais pas que). En réalité cela correspond à peine à un corpus mais surtout c'est décevant pour le visiteur. Est-ce qu'il y aurait une manière graphique de représenter le volume d'un corpus (j'ai vu que sur la carte on peut déjà voir si le

[2021-01-03 12:06] sguillaume opened #146 "Citation d'un corpus ?"
Retour utilisateur :
"On avait un bouton "citer les corpus" mais il n'est plus disponible. J'ai vu qu'Alex François a mis la citation manuellement en fin de son corpus mwotlap sur son site web perso par ex. Est-ce qu'on ne devrait pas le générer automatiquement ? Cela pourrait-être fait pour le corpus entier : ex. nashta et pas juste les textes et phrases individuelles. "

[2021-01-03 14:59] alexis-michaud commented on #145
Bonne piste !

Pour l'instant, un premier pas dans cette direction, c'est que l'info du nombre de ressources, et du nombre de ressources transcrites (et de vidéos s'il y en a) est présenté sur la carte quand on clique sur une 'goutte'.
![image](https://user-images.githubusercontent.com/6072524/103481219-ca2b2800-4dd9-11eb-964b-edf52f1ab1d6.png)

L'affichage actuel est 'léger' (simple liste de noms

[2021-01-03 20:29] alexis-michaud commented on #146
Ca serait à ajouter dans la doc' : expliquer comment récupérer les infos de citation _via_ le DOI.
Dans Zotero par exemple, on peut importer automatiquement toutes les infos bibliographiques (la fiche entière de la référence), et la citer ensuite comme on ferait pour un article ou un livre) en utilisant le DOI.

[2021-01-03 20:31] alexis-michaud commented on #147
@EdouardSombie : ticket renvoyé vers le dépôt 'Pangloss' depuis le dépôt 'Eastling' : il semble que ce soit une question d'intégration.

[2021-01-03 20:33] alexis-michaud opened #148 "pas d'affichage des boutons DOI dans Firefox"
(à supposer qu'on veuille être compatible avec Firefox...?)

Le bouton est bien actif. Quand on clique au bon endroit, le DOI s'affiche. Mais l'image (icône DOI) ne s'affiche pas.

![image](https://user-images.githubusercontent.com/6072524/102132368-d1eb5280-3e53-11eb-82b1-be75e691f3fb.png)

[2021-01-03 20:47] alexis-michaud commented on #143
Un moteur de recherche, c'est un gros boulot. Il y aurait lieu de planifier quelque chose d'ambitieux dans un cadre plus général, celui du réseau [OLAC](http://www.language-archives.org/), et/ou [DELAMAN](https://www.delaman.org/).

[2021-01-03 20:50] #138 closed

[2021-01-04 14:36] alexis-michaud commented on #128
@EdouardSombie : pour la nuance exacte de couleur, à toi de voir au mieux. Pas forcément du noir de chez noir, si ça paraît pas idéal dans ce contexte visuel, mais quelque chose de plus sombre, pour éviter un rouge un peu "alarmant".

N'hésite pas à consulter @sguillaume pour les couleurs si tu avais une quelconque hésitation.

[2021-01-05 09:04] alexis-michaud opened #149 "Lecteur : choix de l'utilisateur entre Eastling (par défaut) et l'ancien lecteur ?"
Les données accueillies dans la collection Pangloss sont assez diverses et un affichage optimal pour certaines n'est pas nécessairement optimal pour d'autres. Certains documents ont des traductions dans beaucoup de langues (par exemple celui-ci : https://doi.org/10.24397/pangloss-0001642), d'autres dans une seule langue voire aucune. Certains textes sont découpés en phrases (unités S) très courtes

[2021-01-05 12:06] alexis-michaud opened #150 "affichage WORDLIST : mettre sous forme de tableau"
Les listes de mots comprennent parfois bcp de traductions. Il est important de les afficher en tableau pour la lisibilité.

Exemple dans la v1 : https://doi.org/10.24397/pangloss-0001642

![image](https://user-images.githubusercontent.com/6072524/103644228-4d718880-4f56-11eb-9b5a-d1cb60ab50e0.png)

Dans l'interface v2, les traductions sont collées les unes contre les autres.

![image](https://user

[2021-01-05 12:33] alexis-michaud opened #151 "carrousel de ressources mises en valeur : afficher la langue"
Tout est dit dans le titre :)

Là par exemple :
![image](https://user-images.githubusercontent.com/6072524/103646649-4ba9c400-4f5a-11eb-9718-2923443c5424.png)

On ne voit pas de quelle langue il s'agit. "Grèce", ça fait penser que c'est du grec. Or c'est du nashta (langue slave).

Pareil ici :
![image](https://user-images.githubusercontent.com/6072524/103646759-7a279f00-4f5a-11eb-9efa-63f701407836

[2021-01-05 20:42] alexis-michaud commented on #151
Ah, c'est faire beaucoup d'honneur à mes intuitions pour un sujet qui ressortirait plutôt à la direction artistique qu'au rôle de supporter enthousiaste dans lequel je suis pluss à l'aise :)

Bon, moi je verrais bien ça sur la même ligne que le nom du pays:
`<nom de langue> (<pays>)`
Par exemple :
kakabé (Guinée)
C'est du boulot, puisqu'il faut le nom de langue... dans 2 langues (français pour la

[2021-01-07 08:06] sguillaume opened #152 "Bug affichage chercheur dans la case locuteur ?"
On dirait que le nom du chercheur s'insère à la place du locuteur quand aucun locuteur n'est indiqué.

ex :
Sur la page corpus tout est ok il n'y a pas de locuteur : https://tmps04.huma-num.fr/corpus/Romani%20(Xoraxane,%20Southern%20Vlax,%20Greece)

Mais sur la page de la ressource le chercheur est indiqué comme locuteur : https://tmps04.huma-num.fr/corpus/show?lang=fr&oai_primary=cocoon-b48c740d-

[2021-01-07 08:15] sguillaume opened #153 "Bug affichage locuteur quand "singer""
Quand le locuteur est indiqué en tant que "singer" il n'a pas l'air de s'afficher dans la page corpus.

ex : "Chant de Kautjajuk aux chiens"
 https://tmps04.huma-num.fr/corpus/Inuktitut?lang=&mode=

Par contre il apparait bien dans la page de la ressource : https://tmps04.huma-num.fr/corpus/show?oai_primary=cocoon-716275ae-cc61-4b1f-add7-322dee5a5ea5&lang=&mode=

Pour la ressource du dessus, la mê

[2021-01-07 08:31] alexis-michaud commented on #152
Bien vu !
![image](https://user-images.githubusercontent.com/6072524/103869685-f3460400-50ca-11eb-9592-550c6f405fed.png)
Pareil en mode PRO :
![image](https://user-images.githubusercontent.com/6072524/103869635-e32e2480-50ca-11eb-9a93-77a1ed598726.png)
(ici [le DOI du document](https://doi.org/10.24397/pangloss-0000293))

[2021-01-07 08:34] alexis-michaud commented on #153
Bien vu !

Un élément de contexte @EdouardSombie : la personne qui parle (locutrice/locuteur) est décrite comme 'chanteuse/chanteur' (_singer_) pour la voix chantée.

Il faut donc récupérer l'info "locuteur" (au sens large : la personne qu'on entend sur l'enregistrement / les personnes) dans plusieurs champs potentiels : chanteur, locuteur...
(@sguillaume il y a quoi d'autre comme autres rôles dan

[2021-01-07 08:39] sguillaume commented on #153
Il y a comme type de role pour les locuteurs :
- speaker
- singer
- interpreter
- performer
- signer

[2021-01-07 14:25] m8nli9ht opened #155 "Annotations PDF non affichées"
https://eastling.huma-num.fr/player/?oai_primary=cocoon-ac836d96-0d5c-365a-9b60-8ee932e51413&oai_secondary=cocoon-a8698269-eb64-3219-9458-6da3162cefb6&lang=fr

[2021-01-08 17:21] sguillaume opened #154 "Bug téléchargement ressources secondaires"
Lorsque l'on consulte une page de ressource, si celle ci a une annotation (ressource secondaire associée) le téléchargement de la ressource secondaire se lance automatiquement (pdf, xml etc etc)

ex : https://tmps04.huma-num.fr/corpus/show?lang=&mode=&oai_primary=cocoon-b48c740d-59ad-3d91-9956-fdd3ea003ba0&oai_secondary=cocoon-1330a853-7d11-346b-97c2-cd52ec8b0231

[2021-01-08 19:43] alexis-michaud commented on #155
(Sur [Eastling](https://eastling.huma-num.fr/player/?oai_primary=cocoon-ac836d96-0d5c-365a-9b60-8ee932e51413&oai_secondary=cocoon-a8698269-eb64-3219-9458-6da3162cefb6&lang=fr&mode=normal), ça marche à merveille pour moi)

[2021-01-08 19:51] alexis-michaud commented on #154
Bien vu !
C'est depuis une màj récente du lecteur (aujourd'hui sans doute) que le téléchargement du fichier XML d'annotation est lancé automatiquement. "Effet spécial" non souhaité :)

Interaction entre le lecteur et les scripts du site de consultation ?

Je pense que ça concerne le lecteur. @m8nli9ht c'est sans doute pour toi ?

[2021-01-08 19:52] alexis-michaud commented on #154
S'il est confirmé que ça concerne le lecteur, le ticket peut être transféré vers le dépôt Eastlingplayer. (Cliquer _"Transfer issue"_ dans le coin en bas à droite)

[2021-01-08 19:56] m8nli9ht commented on #154
A priori ça ne vient pas du lecteur, pour rappel le lecteur ne gère pas le
multiannotations, c'est côté site pangloss que la surcouche "choix de
l'annotation " est proposée. Aussi, dans aucun cas le lecteur ne propose de
téléchargement (voir en exécutant sur eastling.huma-num.com)

Le ven. 8 janv. 2021 à 20:53, Alexis Michaud <notifications@github.com> a
écrit :

[2021-01-08 20:00] alexis-michaud commented on #154
OK entendu ! Merci
@sguillaume avait bien vu ! Mes excuses pour le contretemps.
La balle passe dans le camp de @EdouardSombie

[2021-01-09 07:37] EdouardSombie commented on #154
Salut, je viens d'envoyer un mail à ce sujet.
A priori, cela vient du player.
J'ai tester la page sans le player et le souci disparait...

[2021-01-09 07:46] EdouardSombie commented on #154
Non, correction...
Je ne pense plus que le player soit en cause, mais plutôt une histoire d'accès à l'annotation...
Je regarde ça...

[2021-01-09 07:57] EdouardSombie commented on #154
Re-salut,
Et bien, si... après vérification, le souci semble bien venir du player.
J'ai enlever toute ref à la ressource secondaire dans ma page et le téléchargemet se fait toujours.
En inspectant le document j'ai vu qu'il est fait référence à l'annotation dans le player, cf capture :

![Capture d’écran 2021-01-09 à 08 48 26](https://user-images.githubusercontent.com/66474742/104086383-c115dd00-

[2021-01-09 08:01] m8nli9ht commented on #154
Salut Édouard,

Merci pour le détail qui confirme que cela vient du player, ce code
concerne les modifications pour le problème d'affichage du pdf. Par contre
il ne devrait pas s'afficher pour un XML...
Je corrige aujourd'hui et je vous tiens au jus.

Matthew

Le sam. 9 janv. 2021 à 08:57, EdouardSombie <notifications@github.com> a
écrit :

[2021-01-09 08:02] EdouardSombie commented on #154
👍

[2021-01-09 08:36] m8nli9ht commented on #154
Je viens de traiter et livrer, pouvez-vous retester ?

[2021-01-09 08:51] EdouardSombie commented on #115
Fait, à traduire dans l'admin

[2021-01-09 09:10] EdouardSombie commented on #153
Réglé

[2021-01-09 09:58] #115 closed

[2021-01-09 11:03] alexis-michaud commented on #154
Bravo pour la bonne coordination (en plein week-end) 👍
C'est bon, bogue résolu !

[2021-01-09 11:03] #154 closed

[2021-01-10 20:50] #116 closed

[2021-01-10 20:50] #113 closed

[2021-01-10 20:54] #136 closed

[2021-01-10 20:55] alexis-michaud commented on #149
Réglé par ajout mode "pleine largeur" au site v2, avec le lecteur Eastling

[2021-01-10 20:55] #149 closed

[2021-01-11 20:39] m8nli9ht commented on #141
Ok, de mon côté aussi je vais voir si je peux faire quelque chose.

[2021-01-11 21:04] sguillaume opened #156 "Problème affichage DOI dans Firefox"
Le logo des DOIs n'apparait pas dans firefox devant les phrases.

![firefox_pas_de_doi](https://user-images.githubusercontent.com/6065936/104237811-e1f95080-5458-11eb-8306-6f5c8c46517d.png)

[2021-01-11 21:06] alexis-michaud commented on #156
Doublon du ticket #148

[2021-01-11 21:06] #156 closed

[2021-01-11 21:07] sguillaume opened #157 "Problème marge selon taille écran"
Il y a des tailles d'écran (de fenêtres) ou il manque de la marge.
La marge est de plus en plus grande quand on agrandit la fenêtre et d'un coup elle devient trop petite.
Est ce que l'on peut modifier ça ?

<img width="1275" alt="Manque_marge" src="https://user-images.githubusercontent.com/6065936/104237969-284eaf80-5459-11eb-9710-52d82f53d977.png">

[2021-01-11 21:09] sguillaume opened #158 "Petits points oranges bizarres"
Il y a des petits points oranges étranges à droite du DOI des phrases.
Peut on les retirer ?

![Points_oranges](https://user-images.githubusercontent.com/6065936/104238715-af9c2300-5459-11eb-8990-ddc8f9903e32.png)

[2021-01-11 21:25] sguillaume opened #159 "Affichage titre et description en l'absence d'attribut langue (fr / en)"
Le kakabé, langue pour laquelle quasiment toutes les ressources ont un titre et une description, n'a aucun titre ni description qui s'affiche sur le site.

https://pangloss.cnrs.fr/corpus/Kakabe?lang=fr&mode=pro

La langue des titres et des descriptions n'est pas indiquée dans la BDD.
Le problème ne vient surement pas de là car de nombreuses autres ressources doivent se trouver dans ce cas là auss

[2021-01-12 12:25] alexis-michaud commented on #158
Ce sont les bordures du tableau prévu pour le mot à mot (FORM et TRANSL au niveau W, au niveau M), n'est-ce pas ?
Il faudrait introduire une condition : si un tableau est vide, ne pas lui mettre de bordures ?

[2021-01-12 12:25] #158 closed

[2021-01-12 13:09] alexis-michaud commented on #141
Le même problème de rechargement se pose pour les PDF. Exemple [ici](https://doi.org/10.24397/pangloss-0004322).
![image](https://user-images.githubusercontent.com/6072524/104318211-62fb2b00-54df-11eb-947c-3a2891ff2273.png)
En rafraîchissant la page, l'affichage se fait :
![image](https://user-images.githubusercontent.com/6072524/104318439-b40b1f00-54df-11eb-9ef9-5020890e423e.png)

En rafraîchissa

[2021-01-12 13:14] alexis-michaud commented on #141
Question de novice : un script sur l'interface de consultation pourrait-il déterminer si une annotation s'affiche ou non sur l'écran ?

Ca serait un **retour au sujet de l'affichage à l'écran**, qui permettrait de déterminer dans lequel des 2 cas de figure illustrés par les images ci-dessus on se trouve : annotation manquante, ou annotation affichée.

Si un retour depuis le moteur de rendu pouvait

[2021-01-12 13:18] #155 closed

[2021-01-12 13:20] #153 closed

[2021-01-12 13:21] alexis-michaud commented on #152
Traité, ça marche. Quand il n'y a pas de locuteur indiqué, la boîte ne s'affiche pas.

[2021-01-12 13:21] #152 closed

[2021-01-12 13:23] alexis-michaud commented on #151
Excellent 👍
![image](https://user-images.githubusercontent.com/6072524/104319786-a9ea2000-54e1-11eb-8614-ddf4f34c5853.png)

[2021-01-12 13:23] #151 closed

[2021-01-12 14:29] alexis-michaud commented on #146
Texte ajoutée à la page "[Outils](https://pangloss.cnrs.fr/outils?mode=pro#Comment%20citer%20une%20ressource,%20ou%20un%20corpus%20entier%20?)" :

Comment citer une ressource, ou un corpus, dans une publication
La citabilité des ressources primaires est une problématique centrale pour la bonne intégration des dimensions complémentaires que sont les données, les outils et les publications. Pour les

[2021-01-12 14:29] #146 closed

[2021-01-12 15:32] #147 closed

[2021-01-12 15:33] #130 closed

[2021-01-12 15:53] EdouardSombie commented on #157
C'est réglé :)

[2021-01-12 18:47] sguillaume opened #160 "Problème DOIs et phrases"
Les DOIs des phrases ne pointent pas sur les phrases concernées mais tous pointent sur le texte au niveau du titre (ça ouvre la page au niveau du titre au lieu d'ouvrir la page sur la phrase citée)

ex : https://doi.org/10.24397/pangloss-0001471#S10

[2021-01-13 10:29] EdouardSombie commented on #141
@Alexis : oui, on pourrait mettre un script pour relancer la page...
Mais ce serait mieux de faire autremement.
Je te propose de faire une série de tests en fin de journée ensemble pour identifier le souci. 17h30 ?

[2021-01-13 10:30] EdouardSombie commented on #158
C'est réglé

[2021-01-13 12:58] EdouardSombie commented on #159
Réglé.
Si pas de titre ou description disponible en "fr" ou "en" : récupère la valeur du titre "sans langue"

[2021-01-13 19:09] alexis-michaud commented on #159
Ca marche !!

A étendre aussi à la liste des ressources sur la page du corpus.

[2021-01-13 19:09] #157 closed

[2021-01-13 19:10] alexis-michaud commented on #142
Fait, tout est dans la marge

[2021-01-13 19:10] #142 closed

[2021-01-13 19:13] alexis-michaud commented on #141
Alors le test c'est qu'on n'arrive plus à reproduire le bug !
La dernière version du lecteur Eastling qui a été livrée semble avoir résolu le souci. Ouf :)

[2021-01-13 19:15] alexis-michaud commented on #129
@sguillaume pourrais-tu nous indiquer quelles sont les ressources concernées ?

[2021-01-13 19:17] alexis-michaud commented on #128
A réfléchir tranquillement pour une version 3 plus tard ? choix de polices ?

[2021-01-13 19:21] sguillaume commented on #129
Toutes les ressources privées ont le champs access_right (dans la BDD) égal à 1 !
(dans les tables primary_resources et secondary_resources)

- ressources publiques : valeur d'access_right = 0
- ressources privées : valeur d'access_right = 1

[2021-01-14 11:42] sguillaume opened #161 "Problème de transcription des phrases quand pas FORM au niveau S"
Lorsqu'il n'y a pas de transcription (balise FORM) au niveau S, c'est une concaténation de la transcription des mots (Forme de W) qui est faite mais un tiret se met entre chaque mot et le rendu est très bizarre.
Il faudrait retirer les tirets.
Et ne mettre des tirets que lors de la concaténation des morphèmes (FORM de M) pour former un mot.

[2021-01-14 20:15] alexis-michaud commented on #141
Mauvaise nouvelle : le souci se présente à nouveau...
(Sous Windows, toujours)

[2021-01-15 15:48] alexis-michaud opened #162 "mentions légales en mode PRO"
L'interface de saisie pour les mentions légales ne comporte que deux champs : fr et en, et c'est très bien ainsi.

Mais pour l'affichage, il faut afficher le contenu français ici aussi
https://pangloss.cnrs.fr/mentions-l%C3%A9gales?mode=pro

et le contenu anglais ici aussi
https://pangloss.cnrs.fr/mentions-l%C3%A9gales?mode=pro&lang=en

Pour l'instant le contenu fait défaut.

![image](https://user

[2021-01-15 16:30] EdouardSombie commented on #162
Réglé !

[2021-01-15 16:33] #162 closed

[2021-01-17 18:41] alexis-michaud opened #163 "fournir un nouvel hébergement pour la DTD Pangloss"
La DTD LACITO / Pangloss était hébergée sur le site v1

https://cocoon.huma-num.fr/exist/crdo/meta/cocoon-49aefa90-8c1f-3ba8-a099-0ebefc6a2aa7

![image](https://user-images.githubusercontent.com/6072524/104852517-badccc00-58fb-11eb-8e17-5b811c969ac9.png)

Maintenant elle n'est plus accessible : l'ancienne adresse redirige vers le site v2, et comme le document n'est pas dans la v2, on arrive à l'ac

[2021-01-19 08:32] sguillaume opened #172 "Indiquer les mots d'emprunts"
Dans les annotations il y a la possibilité d'indiquer les mots d'emprunt.
Il avait été décidé de les mettre en italique (lors d'un projet ANR).

Ces mots ou morphèmes sont détectables par leur classe nommée "CL" :
Par exemple : `<M class="CL">`

Il faudrait, dans cette nouvelle interface, qu'ils apparaissent aussi en italique.
C'est faisable facilement ?

Voici un exemple de texte où il y a des mo

[2021-01-25 15:34] alexis-michaud commented on #129
Pour l'instant, les ressources en privé ne s'affichent pas du tout dans l'interface Pangloss, n'est-ce pas ?

Au risque de compliquer les choses : est-ce qu'il serait envisageable de garder comme ça pour la version grand public (pas la peine de mettre sous le nez des visiteurs des ressources qui leur sont fermées), et d'afficher les ressources privées (avec un verrou) dans la liste de ressources e

[2021-01-28 07:52] alexis-michaud commented on #141
Voici un rapport d'erreur un peu plus détaillé, pour analyser le souci.

L'exemple est [celui-ci](https://pangloss.cnrs.fr/corpus/show?lang=en&mode=pro&oai_primary=cocoon-d7422cbf-af6d-3abd-a14e-256db16c4b3e&oai_secondary=cocoon-808ed143-df51-3954-bf98-74d17bd3bb2e&optionMorphemeTranscriptions=&optionMorphemeTranslations=&optionNotes=&optionSentenceTranscriptions=phono&optionSentenceTranslations=&

[2021-01-28 08:27] m8nli9ht commented on #141
ok je regarde ça aujourd'hui

[2021-01-28 08:57] alexis-michaud commented on #141
Super, tiens-nous au courant !
Dans la soirée, Edouard et moi comptions regarder aussi. Mais on ne t'en voudra pas si tu nous prends de vitesse en identifiant le souci et trouvant des remèdes avant :smiley:

[2021-01-28 10:30] m8nli9ht commented on #141
J'ai livré, à tester et valider.

[2021-01-28 11:39] alexis-michaud commented on #141
Le problème reste entier, hélas
![image](https://user-images.githubusercontent.com/6072524/106133655-dbabe980-6165-11eb-9edb-bca1d8f26a47.png)

Tu as fait quoi comme changements ?

[2021-01-28 12:57] m8nli9ht commented on #141
ah ! c'est une autre ligne ça, je viens de faire également une modif ici, je livre ça dans la foulée

[2021-01-28 13:17] m8nli9ht commented on #141
livré, à tester de nouveau !

[2021-01-28 14:08] alexis-michaud commented on #141
L'est coriace, ce bogue-là !
Voici le nouveau _variant_ :
![image](https://user-images.githubusercontent.com/6072524/106149457-97771400-617a-11eb-93e0-dd5aab89b29c.png)

[2021-01-28 14:10] alexis-michaud commented on #141
Tantôt l'erreur est étiquetée "77", comme ci-dessus (bouton blanc sur fond rouge), en haut à gauche). Tantôt "177" :
![image](https://user-images.githubusercontent.com/6072524/106149828-fa68ab00-617a-11eb-9ff1-09b6a3aee0e5.png)

[2021-01-28 15:51] m8nli9ht commented on #141
c'est la même erreur sur tes 2 screen, je regarde

[2021-01-28 16:48] m8nli9ht commented on #141
j'ai testé une autre méthode. C'est livré, tu peux tester @alexis-michaud

[2021-01-28 17:05] alexis-michaud commented on #141
Allez c'est parti : un chargement, 2, 3, 4, 5, 6, 7... jusqu'à 20
et plus aucune page blanche ! Il semble bien que ça marche. Bravo !!

Aurais-tu encore l'énergie d'établir un court bilan pour les annales / pour la doc' : pourquoi ça marchait sous Mac mais pas sous Windows, quel était le souci, et comment tu l'as résolu ? Ca serait une chouette façon de fêter la victoire sur ce bogue qui a donné b

[2021-01-28 17:05] #141 closed

[2021-01-28 17:28] m8nli9ht commented on #141
Aucun rapport avec mac et windows à mon avis, j'ai juste fait en sorte que
les composants d'annotation ne se chargent que lorsque le player est bien
chargé dans la page.

Le jeu. 28 janv. 2021 à 18:05, Alexis Michaud <notifications@github.com> a
écrit :

[2021-01-30 00:23] sguillaume opened #164 "Lecture en continu vs écoute d'une seule phrase"
Plusieurs personnes ont demandé si on pouvait remettre la possibilité de choisir de lire tout le fichier audio ou alors uniquement une seule phrase (avant, il y avait une petite case à cocher à côté du lecteur audio pour choisir "lecture en continu" ou non).
Pour les linguistes ça a l'air d'être assez précieux de pouvoir écouter plusieurs fois d'affilés uniquement une phrase (et de ne pas avoir la

[2021-01-30 09:56] alexis-michaud commented on #159
C'est tout bon :smiley:
![image](https://user-images.githubusercontent.com/6072524/106353292-c52e9b00-62e9-11eb-83e0-4cdcd8343efa.png)

[2021-01-30 09:56] #159 closed

[2021-01-30 10:05] alexis-michaud commented on #137
Bon, comme signalé ci-dessus, il n'y a pas vraiment d'enjeu. Ca marche avec Chrome, Safari, Firefox, c'est honorable.

Pour Tor, est-ce que ça pourrait être un souci de débit _via_ les serveurs ? L'image ci-dessous est parlante, après c'est une question d'échelle.
![image](https://user-images.githubusercontent.com/6072524/106353364-4e45d200-62ea-11eb-9127-535d98bb22c6.png)

Ou alors une question d

[2021-01-30 10:05] #137 closed

[2021-01-30 10:11] alexis-michaud commented on #135
On peut passer ça pour le projet de version 3, à quelque temps d'ici.

Pourquoi pas voir ça de façon un peu ambitieuse :

- en consolidant l'adossement à des référentiels des infos concernant les familles et sous-familles de langues. L'utilisation de Glottolog et Ethnologue offre le potentiel de faire référence à plusieurs niveaux de regroupements, des familles de langues (groupement le plus élevé

[2021-01-30 10:13] alexis-michaud commented on #128
Traité _via_ le changement de couleur du thème 'Grand public'.

[2021-01-30 10:13] #128 closed

[2021-01-31 21:10] #103 closed

[2021-02-01 20:33] alexis-michaud opened #165 "carte des langues pas visible sur iPad ni Android"
Sur Android : la mention "Carte des corpus" apparaît (page d'accueil, et page "Corpus") mais la carte n'apparaît pas.

![image](https://user-images.githubusercontent.com/6072524/106514796-020ab580-64d5-11eb-80d3-fb2d9cfff051.png)

D'après un retour utilisateur : c'est pareil sur iPad.

[2021-02-02 08:53] alexis-michaud opened #251 "export LaTeX & PDF : d'une phrase (ou plusieurs phrases) à un corpus entier"
LaTeX est utilisé dans divers lieux de publication en linguistique : la revue Glossa, la maison d'édition Language Science Press, et aussi pour les thèses. Le traitement de texte en mode bureautique 'standard', c'est assez infernal pour un objet éditorial compliqué comme une publication de linguistique.

L'export LaTeX d'une phrase (ou plusieurs phrases) de la collection Pangloss serait une foncti

[2021-02-02 10:04] EdouardSombie commented on #165
C'est fait exprès !!
La carte serait inutilisable sur un téléphone...

Par contre, elle s'affiche sans souci sur un ipad en mode paysage :)

[2021-02-02 10:11] alexis-michaud commented on #165
Ah, mais dans ce cas, est-ce qu'il ne faudrait pas retirer la mention "Carte des corpus" quand la carte n'est pas affichée ?
Quand il y a marqué "Carte des corpus" mais qu'il n'y a pas de carte affichée, difficile de deviner que c'est pas un bogue :smiley:

[2021-02-02 11:59] EdouardSombie commented on #165
Je me dis que ce serait peut-être mieux de mettre un message du type :
[Cette carte n'est pas disponible sur terminal mobile]

Qu'en dis-tu ?
Cela incitera à consulter sur un plus grand écran.

[2021-02-02 12:09] alexis-michaud commented on #165
Excellente idée :
- les habitués du site n'ont pas à ré-apprendre un mode 'mobile' trop différent : l'interface se reconnaît bien, "on est chez soi", et quand il y a une différence, elle est expliquée
- les visiteurs qui jettent un premier coup d'oeil ont le message important selon lequel c'est conçu pour affichage sur un terminal type tablette (au moins), pas un ordiphone.

Bref, moi je suis tout

[2021-02-10 20:14] alexis-michaud commented on #143
Christian Chanard a quelque chose de vraiment bien (je trouve) dans [Corporan](https://corporan.huma-num.fr/). Voir avec lui, de façon à reprendre / émuler / recréer cet outil dans l'environnement Pangloss / Cocoon ?

[2021-02-11 08:15] sguillaume opened #166 "Ajouter le logo DOI au niveau du titre"
Ca serait bien d'ajouter le logo DOI au niveau du titre d'une ressource avec une popup qui permette de récupérer le DOI quand on clique dessus (comme pour les phrases).

[2021-02-11 08:30] sguillaume commented on #165
Vous êtes sûrs qu'on ne peut pas afficher la carte sur mobile ?
Les gens peuvent tourner leur tel pour avoir un mode paysage et donc plus large.
Et j'ai souvenir que l'ancienne carte du site était affichée sur mobile et que ça passait.
On peut zoomer en agrandissant avec les doigts. les gens sont habitués à ça normalement.

[2021-02-11 09:32] sguillaume opened #167 "Faire apparaitre EGG dans la liste des ressources secondaires"
Ca serait bien de faire apparaitre un logo EGG (comme le logo XML) dans la liste des ressources secondaires quand il y a un EGG.
Ex : Corpus yongning na

"how the lake was created (version 4)" a un EGG mais seul le XML apparait dans la liste des ressources.

On commence à avoir beaucoup d'EGG et c'est dommage qu'ils ne soient visibles que lorsque l'on consulte directement une ressource (https://do

[2021-02-11 15:04] sguillaume opened #170 "Affichage de toutes les ressources secondaires"
Ca serait bien de pouvoir avoir accès à la même page (avec les mêmes options d'affichage) quelle que soit la ressource secondaire à laquelle on veut accéder.

Je m'explique.
Chaque ressource secondaire est liée à une ressource primaire.
Il faudrait que l'url qui affiche ces ressources https://pangloss.cnrs.fr/corpus/show?&oai_primary=OAI_PRIMAIRE&oai_secondary=OAI_SECONDAIRE
ramène sur la même pag

[2021-02-18 12:59] alexis-michaud opened #168 "à ajouter à la Foire Aux Questions : "pourquoi telle langue manque dans la collection""
On reçoit des messages concernant des langues "manquantes" dans la collection : "comment se fait-il que telle langue / tel groupe de langue ne soit pas représenté dans la collection Pangloss ?"

et aussi des questions concernant l'équilibre : "comment se fait-il qu'il n'y ait que n documents pour telle langue / tel dialecte, alors que telle autre en a nettement plus".

Réponse générale à apporter

[2021-03-08 12:25] alexis-michaud commented on #143
La suggestion de Christian consisterait à ré-implémenter un moteur qui reprenne les fonctionnalités du moteur Corporan (qui a de nombreuses qualités pour les utilisateurs : détails sur demande), sans réutiliser le code (=refaire une programmation tournée vers l'environnement auquel sera appliqué le moteur de recherche, c'est-à-dire Cocoon).

[2021-03-08 20:54] alexis-michaud commented on #143
Le ticket #92 fait aussi partie de l'ensemble des questions qui tournent autour du moteur de recherche.

[2021-03-14 16:55] alexis-michaud commented on #57
Souci pour `retriever.py` : la vitesse de téléchargement est extrêmement lente. Il faut 2 mois montre en main pour un téléchargement complet, hum... La recherche de solutions se poursuit. Ca serait super de ne pas trop trop tarder car il y a des collègues qui attendent...

[2021-03-14 17:00] alexis-michaud opened #169 "proposer la piste audio des fichiers vidéo comme fichier séparé (WAV)"
En lien avec #57 : permettre la récupération commode de jeux complets de données audio : 1 collègue relève qu'il serait utile d'effectuer l'extraction des pistes audio de fichiers vidéo pour épargner aux collègues qui voudraient utiliser l'audio de devoir répéter l'opération d'extraction.

A proposer au niveau de Cocoon ?

[2021-03-16 13:20] alexis-michaud commented on #167
Oui, le logo de l'EGG n'apparaît pas lorsqu'on a la liste des ressources d'un corpus et qu'il y a un EGG de disponible.
Ex [ici](https://pangloss.cnrs.fr/corpus/Yongning%20Na?lang=en&mode=pro) (corpus na, où il y a plein d'EGG). La ressource "How the Lake was created (version 4)" a un son, un xml et un EGG mais seul le son et le xml sont visibles.

[2021-03-16 13:23] alexis-michaud opened #171 "Moteur de recherche : ne pas afficher la colonne "Transcriptions" pour les ressources primaires"
Ticket lié au #143 mais en moins ambitieux : plutôt un changement ponctuel à faire.

Repris d'un échange courriel :

[2021-03-17 10:17] alexis-michaud commented on #172
@EdouardSombie
Indication de Matthew :

[2021-03-23 16:37] EdouardSombie commented on #129
Salut,
Jusqu'à présent, il n'y a pas de distinction faite à partir du champ access_right.
Si certaines ressources n'apparaissent pas c'est qu'elles ne font pas référence au bon nom de langue, dans le champ subject.
Pour illustrer cela, vous pouvez regarder les ressources de l'Ouldémé : il y a une ressource publique (id 660) qui fait référence au sujet "[{"code": "udl", "name": "**Ouldeme**"}]"
alo

[2021-03-23 17:27] EdouardSombie commented on #129
Les ressources privées ne s'affichent plus que pour les pros.
Un petit verrou apparait sous le type de ressource pour le ressources privées.
Vous pouvez voir ce que cela donne pour la langue rakhine.
Pour les ressources qui ne s'affichent toujours pas, il faut aller régler le souci en base de données (cf ticket précédent) pour qu'elles fassent référence au bon nom de corpus.

[2021-03-23 18:32] EdouardSombie commented on #165
Très honnêtement, je pense que la carte ne sera très facile d'usage sur mobile.
Mais étant donné que Séverine semble y tenir, j'ai fait en sorte qu'elle s'affiche (le mieux possible) sur téléphone.

[2021-03-23 19:40] sguillaume commented on #129
Il faudrait afficher les ressources privées meme pour le mode grand public parce que pour le rakhine par exemple ça affiche qu'il y a un corpus mais la page est vide car les ressources sont toutes en accès privé.
Ca fait bizarre car on a l'impression qu'il y a un bug.
Mieux vaut afficher toutes les ressources dans tous les modes pour éviter ce genre de cas je pense.

[2021-03-23 20:43] alexis-michaud commented on #129
Euh, sauf vot' respect @sguillaume, afficher des ressources privées en mode grand public, ça entre en conflit assez frontal avec l'invitation : venez voir cettet collection en #AccèsOuvert, tout en ligne, #ScienceOuverte, données de la recherche en libre accès --> voyons voir le corpus --> ah ben non c'est privé en fait.

Pourrait-on explorer d'autres solutions ?

Dans un premier temps, pour les c

[2021-03-23 20:50] alexis-michaud commented on #165
Maintenant que je vois le résultat je pense que @sguillaume a bien fait d'insister. Sur petit ordiphone, ça passe très bien, et le fait d'avoir une carte me paraît très incitatif.

[2021-03-23 20:50] #165 closed

[2021-03-24 09:42] EdouardSombie commented on #166
C'est fait !

[2021-03-24 09:44] EdouardSombie commented on #129
Je vous laisse vous mettre d'accord :)

[2021-03-24 10:14] EdouardSombie commented on #167
Fait !

[2021-03-24 10:24] EdouardSombie commented on #143
Si vous voulez un moteur de recherche champ par champ, dites-moi lesquels sont concernés.
Il faudrait aussi que vous me disiez quels types de recherche sont disponibles sur ces champs (liste déroulante, champ de texte, nombre, plage de valeur...)
@Alexis : je suis allé sur le site que tu cites. Mais je ne suis pas sûr d'avoir vu le moteur en question. C'est celui sur la page 'webservice' ?
En tout

[2021-03-24 10:25] EdouardSombie commented on #92
A ajouter au cahier des charges de la recherche sur le site...

[2021-03-24 10:36] EdouardSombie commented on #170
Pour répondre à la demande de Séverine : "Ca serait bien de pouvoir avoir accès à la même page (avec les mêmes options d'affichage) quelle que soit la ressource secondaire à laquelle on veut accéder." :
Ce n'est pas possible car le player récupère l'OAI de la ressource secondaire dans l'URL de la page.
Toutefois, je vais faire en sorte de vérifier la nature de la ressource secondaire demandée dans

[2021-03-24 10:41] EdouardSombie commented on #172
C'est fait !

[2021-03-24 11:56] EdouardSombie commented on #170
C'est fait !
Si l'url demande une ressource secondaire de type egg ou jpg, l'url est modifiée pour afficher la première ressource secondaire 'affichable'.
En vérifiant avec l'exemple donné par Séverine, je vois que le karaoké ne fonctionne pas parfaitement : le mot qui est lu n'est pas mis en avant et semble se caler en bas de la fenêtre... C'est normal ?

https://pangloss.cnrs.fr/corpus/show?oai_

[2021-03-24 13:13] sguillaume commented on #129
Ca ne m'aurait pas choqué et j'aurais même trouvé ça intéressant d'indiquer au grand public que parfois certaines ressources doivent (pour protéger la vie privé des gens) rester en mode privé pour une durée déterminée.

Mais pour moi aucun problème qu'on cache ces ressources au grand public si c'est si important.
Le tout est que la page ne donne pas l'impression qu'il y a un bug.

Alexis, cacher l

[2021-03-24 13:20] EdouardSombie commented on #129
Petite remarque :
N'afficher au grand public que les corpus ayant au moins une ressource publique va demander pas mal de travail et de ressources processeur...
Du coup, je penche plutôt pour la solution de Séverine :)
J'attends votre arbitrage !!

[2021-03-24 13:21] sguillaume commented on #172
J'ai un problème d'affichage. Plus aucune annotation ne s'affiche (et un pb de taille du logo DOI).

ex :
![Uploading pb.png…]()

[2021-03-24 13:29] EdouardSombie commented on #172
Salut Séverine, il faut vider ton cache navigateur.

[2021-03-24 13:34] sguillaume commented on #172
Super les mots d'emprunts en italiques !

Merci :)

[2021-03-24 13:34] #172 closed

[2021-03-24 13:35] EdouardSombie commented on #172
👍

[2021-03-24 13:39] sguillaume commented on #170
Merci c'est top comme ça !

Oui Matthew a aussi vu ce décalage de lecture pour les listes de mots et il va corriger le truc rapidement.

[2021-03-24 13:39] #170 closed

[2021-03-24 13:50] sguillaume commented on #167
Merci ! :)

[2021-03-24 13:50] #167 closed

[2021-03-24 14:00] sguillaume commented on #166
:)

[2021-03-24 14:00] #166 closed

[2021-03-25 12:50] alexis-michaud opened #173 "Bouton "Comment citer ce corpus" / "How to cite this corpus""
Retour utilisateur : ça serait bien utile de fournir, en mode PRO, un bouton CITATION.

(La v1 du site proposait cette fonctionnalité... mais il fallait reprendre le dossier, cette demande nous en fournit l'occasion.)

L'intitulé du bouton pourrait être "Comment citer ce corpus" / "How to cite this corpus", ou simplement "Comment citer" "How to cite".

Il ouvrirait une fenêtre "popup" qui contiend

[2021-03-26 08:48] alexis-michaud commented on #173
Précision du retour utilisateur : il faudrait deux boutons :
- un sur la page du corpus entier : comment citer tout un corpus. Citation "au niveau du corpus entier de textes d’une langue".
- un sur la page d'affichage d'une ressource. (Comme cela existait dans la v1.) Autrement dit, "juste un bouton simple comme ça l’était pour chaque texte".

[2021-03-27 17:21] alexis-michaud commented on #143
"préciser les fonctionnalités de recherche" : absolument, il faut partir sur un cahie des charges précis.

Il faudrait se caler un rendez-vous. Notamment : une démo de l'outil de Christian Chanard sera bien utile, je pense
(12 ou 14 avril par exemple ? choix de date à faire par mail)

[2021-04-07 14:38] sguillaume opened #174 "Problème affichage liste noms de chercheurs dans la page corpus"
Comment fonctionne l'affichage de la liste des noms de chercheurs qui ont participé à un corpus ?
Il s'agit de l'affichage des noms de chercheurs qui sont sur la droite de l'affichage des ressources.
Quand on compare aux noms de chercheurs qui apparaissent pour chaque ressources, on voit que cela ne correspond pas toujours.

Exemple :

https://pangloss.cnrs.fr/corpus/Dotyal -> il manque 3 chercheu

[2021-04-10 09:01] sguillaume opened #175 "Affichage de plusieurs traductions"
Retour utilisateur pour lequel je suis assez d'accord :

"Je trouve un peu difficile à lire les traductions de ces textes, car les deux langues ont exactement le même style  (police de caractères, couleur…).  Ne serait-il pas possible de distinguer le style de Trad1 et Trad2, par ex. par des couleurs différentes?  ou l'un des deux en italiques??  Je crois que nous avions cela dans l'ancienne versi

[2021-05-17 13:51] sguillaume opened #176 "Affichage logo DOI à côté des ressources"
Ca serait bien d'afficher le logo DOI devant chaque ressource dans la page qui liste les ressources d'un corpus.

Ex : https://pangloss.cnrs.fr/corpus/Japhug

On mettrait le logo DOI juste avant "Type" en ajoutant une colonne.
En cliquant sur le logo DOI on pourrait (comme dans la page d'une ressource) copier le DOI de la ressource en question.

[2021-05-18 09:44] EdouardSombie commented on #176
Salut !
je m'en occupe cette semaine.

[2021-05-19 20:38] sguillaume commented on #176
Merci :)
C'est pas super pressé mais ça sera bien utile !

[2021-05-26 14:52] sguillaume opened #250 "Petit outil équivalent au lecteur pour test de visualisation en mode offline"
Ca serait bien de rendre disponible un petit outil offline inspiré du lecteur eastling et qui permettrait aux gens de tester la visualisation de leurs annotations telles qu'elles seraient sur le site web (ça leur permettrait de voir si leurs annotations sont au bon format et comment serait le rendu) après modification d'annotations déjà en ligne ou avant d'effectuer un nouveau dépôt.

Un outil (av

[2021-06-07 13:40] sguillaume opened #177 "Bug dans le fil de navigation"
Lorsque l'on consulte la page des ressources du corpus araki (https://pangloss.cnrs.fr/corpus/Araki), on a 2 versions d'une histoire racontée par la même personne (The oracle of Leruvahi).

La première version est uniquement en araki et tout est ok.

La deuxième version contient 2 langues étudiées (araki et bislama).
La ressource apparait donc dans le corpus araki et dans le corpus bislama (ça c'e

[2021-06-08 08:04] sguillaume commented on #175
Ca en est où ? (on vient de me relancer à ce propos)

[2021-06-08 15:30] EdouardSombie commented on #175
Salut,
Qu'est-ce que t penses de ça ?

![Capture d’écran 2021-06-08 à 17 29 32](https://user-images.githubusercontent.com/66474742/121214231-2f9aad80-c87f-11eb-9a8b-b7ab1f8be66f.png)

[2021-06-08 15:38] EdouardSombie commented on #173
Salut,
Vous avez pu définir plus précisément cette fonctionnalité ?

[2021-06-08 15:39] EdouardSombie commented on #143
On s'appelle pour en parler ?

[2021-06-08 15:47] EdouardSombie commented on #174
Salut,
L'affichage se base directement sur un champ 'researchers' de la table corpus.
Par exemple, voici le contenu de ce champ pour le corpus Abzakh (il y a bien le chercheur en trop) :

[
    {
        "id": "",
        "name": {
            "en": "Batouka, Niaz",
            "fr": "Batouka, Niaz"
        }
    },
    {
        "id": "",
        "name": {
            "en": "Gsell, René",

[2021-06-08 15:50] EdouardSombie commented on #174
A ce sujet, que pensez-vous de mettre un autre séparateur qu'une virgule entre les chercheurs ?
Car cela peut prêter à confusion, non ?
On peut les mettre à la ligne...

![Capture d’écran 2021-06-08 à 17 49 24](https://user-images.githubusercontent.com/66474742/121217238-f0ba2700-c881-11eb-8e98-3ae5b7861bfc.png)

[2021-06-08 17:04] EdouardSombie commented on #176
C'est fait !

[2021-06-08 19:49] alexis-michaud commented on #174
Oui, un point virgule, ça serait super ! Bien vu.

[2021-06-08 19:52] alexis-michaud commented on #175
Pas mal !
Et s'il y a plus de 2 langues, on continue en alternant ? Bleu foncé, puis bleu plus clair, puis on revient au bleu foncé, puis au clair, etc.
(histoire de prévoir le multilingue ; le cas de 3 langues de traduction au moins, ça existe pour certains textes)

[2021-06-14 16:44] sguillaume commented on #175
J'aurais mis un peu plus de contraste ou alors des couleurs carrément différentes si c'est possible.

[2021-06-14 16:44] sguillaume commented on #176
Parfait pour moi !

[2021-06-14 16:44] #176 closed

[2021-06-14 17:45] EdouardSombie commented on #175
Plutôt que de mettre une autre couleur, on pourrait le mettre en noir et/ou en italique ?
Je suis un peu réticent à ajouter une couleur dans cette interface si claire :)
Et sinon, pas de souci pour alterner les styles lorsqu'on a plus d'une langue

![Capture d’écran 2021-06-14 à 19 43 22](https://user-images.githubusercontent.com/66474742/121935668-f9f73800-cd48-11eb-9bd5-9cf3610661b7.png)

![Ca

[2021-06-14 20:20] alexis-michaud commented on #175
Bonjour bonjour, petit grain de sel (ou de sable, à vous de décider !)

D'accord avec Edouard d'éviter le bariolage. L'interface nous vaut des compliments de gens qui aiment les sites d'une consultation agréable, autant essayer de garder l'aspect plutôt sobre et professionnel ("scientifique" au sens esthétique du terme, haha). Si le noir passe bien, super.

Par contrer, l'italique, attention atten

[2021-06-15 06:16] rgyalrong commented on #175
Concernant l'italique, il faut distinguer l'italique à proprement parler,
qui pour les polices principale est défini par un  fichier de police
distinct, et les caractères en oblique (slanted), sur lesquels une
transformation est appliquée à l'affichage. L'italique n'existe que pour
les alphabets latin et cyrillique. Pour tout le reste, y compris le
chinois, les écritures indiennes, hébreu, arabe e

[2021-06-19 20:21] alexis-michaud opened #178 "géo-localisation parlanjhe à corriger"
Le poitevin-saintongeais est géo-localisé en Amérique du Sud. (Sans doute une info restée dans le formulaire, d'un dépôt précédent?)

![image](https://user-images.githubusercontent.com/6072524/122654534-72486980-d14c-11eb-8781-57e52def69b0.png)

Voici les infos de géolocalisation à fournir :
La latitude de Pougne-Hérisson est de 46.661 degrés Nord et la longitude de Pougne-Hérisson est de 0.399 de

[2021-06-21 07:58] alexis-michaud commented on #178
Bien joué !
![image](https://user-images.githubusercontent.com/6072524/122727256-2219f600-d277-11eb-9766-2e5203ff27da.png)

![image](https://user-images.githubusercontent.com/6072524/122727324-352cc600-d277-11eb-9a24-86fcd192484c.png)

[2021-06-21 07:58] #178 closed

[2021-07-10 10:34] EdouardSombie commented on #177
Salut,
On ne peut pas vraiment pas parler d'un bug :)
En réalité, la ressource s'affiche à partir de la première langue à laquelle elle est rattachée dans la base de données.
Du coup, j'ai ajouté un paramètre dans l'url pour que la page affiche le corpus désiré.
Cependant, si ce paramètre n'est pas présent, la ressource s'affichera comme étant rattachée à la première langue en base de données.
A b

[2021-07-10 10:47] EdouardSombie commented on #175
Salut,
J'ai opté pour l'alternance couleur principale / noir.
Je vous mets une capture d'écran du résultat.
A bientôt !

![Capture d’écran 2021-07-10 à 12 46 22](https://user-images.githubusercontent.com/66474742/125160408-fe164a00-e17c-11eb-96fe-9e7e691640af.png)

[2021-07-11 06:30] alexis-michaud opened #179 "bogue dans les liens vers les documents depuis une page de résultats de recherche"
Les liens vers les ressources (depuis une page Corpus, ou depuis une page de résultats de recherche) donnent une erreur 404.

- Depuis une page de résultats de recherche, comme celle-ci :
https://pangloss.cnrs.fr/search?s=Tai%20Yo
ou celle-ci :
https://pangloss.cnrs.fr/search?s=yongning

- Depuis une page corpus, comme celle-ci :
https://pangloss.cnrs.fr/corpus/Tai%20Don?lang=fr&mode=normal

Ces l

[2021-07-11 06:51] alexis-michaud opened #180 "test automatique de disponibilité en ligne des documents"
Le petit épisode d'erreur 404 sur l'ensemble des documents de la collection du fait d'un petit souci de syntaxe dans les liens qui pointent vers les ressources (#179 ) rappelle qu'il serait opportun d'avoir un test automatique de disponibilité en ligne des documents.

Quel serait le cahier des charges ? Quelques idées :
- Le script tournerait depuis un serveur qui ne soit pas celui qui héberge l'i

[2021-07-11 09:09] #179 closed

[2021-07-11 09:10] alexis-michaud commented on #179
Bravo pour la remise à flots dans l'heure ! :+1:

[2021-07-11 11:31] EdouardSombie commented on #179
Re-salut !
J'ai consolidé le mécanisme qui permet de précisé dans l'url à quel corpus une ressource est rattachée.
Cela a réglé le problème soulevé tout à l'heure.
J'en ai profité pour ajouter un système de formatage de l'url qui nous donne un résultat de ce type:
![Capture d’écran 2021-07-11 à 13 25 49](https://user-images.githubusercontent.com/66474742/125193206-8b27d480-e24b-11eb-8902-e0f2dfc

[2021-07-11 19:13] alexis-michaud commented on #179
Un souci, c'est que la liste des langues n'apparaît plus, dans la page "Corpus".

[2021-07-11 19:55] alexis-michaud opened #181 "pas d'affichage de la liste des corpus sous Linux"
Bizarre bizarre : pas d'affichage de la liste des corpus sous Linux

![Capture d’écran de 2021-07-11 21-52-58](https://user-images.githubusercontent.com/6072524/125208433-8df9e800-e292-11eb-8fea-0f07240da8e2.png)

Ubuntu 18.04.5, avec Chrome 91.0.4472.106 (Build officiel) (64 bits)

Une seule goutte s'affiche sur la carte :
![Capture d’écran de 2021-07-11 22-04-07](https://user-images.githubuserco

[2021-07-12 07:34] EdouardSombie commented on #179
Salut Alexis,
Il faut rafraichir ton cache navigateur.
J'ai oubli de le préciser hier :)
Bonne journée

[2021-07-12 07:52] alexis-michaud commented on #181
Il suffisait de vider le cache ! Désolé pour la fausse alerte
Merci @EdouardSombie pour le coup de main.

[2021-07-12 07:52] #181 closed

[2021-11-03 09:14] alexis-michaud opened #257 "articulation avec l'enseignement des langues rares"
Enjeux importants, qui pourraient se décliner en deux grands ensembles (non fermés) :
- langues enseignées dans le cadre de l'Institut des langues rares (ILARA - EPHE) : cours d'introduction, pas nécessairement reconduits d'année en année. Exemple :
   - maya (pétroglyphes),
   - méroïtique (stèles anciennes, en lien avec l'étude de langues contemporaines)
- langues enseignées dans le cadre de l'I

[2021-11-10 09:35] alexis-michaud commented on #99
L'exemple de la Bibliothèque Nationale de France : "[La réduction de l'empreinte écologique et le développement durable](
https://www.bnf.fr/fr/rapport-dactivite-2020-la-reduction-de-lempreinte-ecologique-et-le-developpement-durable)"

Les archivistes cherchent en permanence à rationaliser l'emploi des réservoirs, qu'il s'agisse de locaux (réduction d'énergies) et d'infrastructures numériques.

[2021-12-03 09:36] sguillaume opened #201 "Affichage png et distinction image synchronisée (à intégrer au xml) et image seule"
Modification du site pour permettre l'affichage d'images (png ou jpeg) de type image (ex.partitions de musique ou photos) VS images (png ou jpeg) de type texte (manuscrits synchronisé avec le xml).

Dans la BDD :
champ "format" et "type" utilisés.

"format"  -> "type" :

RESSOURCES SECONDAIRES :
"text" -> "text" (xml ou texte)
"text" -> "image" (jpeg ou png synchronisés avec le xml d'annotations.

[2021-12-15 12:39] alexis-michaud opened #182 "souci d'affichage via DOI : alignement <S> seulement à la 2e tentative"
Souci d'affichage quand on clique sur un DOI qui comprend un ancrage au 1er niveau de granularité. Exemple :

https://doi.org/10.24397/pangloss-0005673#S37

L'affichage doit se faire en alignant verticalement sur la phrase 37.

Sur Chrome (sysème Ubuntu) : l'alignement \<S\> se fait seulement à la 2e tentative.
À la première tentative : l'alignement se fait sur le début du document, comme si on n'

[2021-12-16 07:50] alexis-michaud commented on #182
@EdouardSombie c'est peut-être pour toi ?

[2021-12-16 11:56] EdouardSombie commented on #182
Salut Alexis,
Dans l'url que tu donnes, l'ancre est vers la phrase 37
https://doi.org/10.24397/pangloss-0005673**#S37**

Lorsque je clique sur le lien, j'arrive bien à la phrase 37...
J'ai essayé avec une ancre vers la s9 qui marche aussi.

Du coup, je ne suis pas sûr d'avoir compris le souci :)

[2021-12-16 13:50] alexis-michaud commented on #182
Eh oui, si ça n'affecte que ma machine, ça va pas être facile trouver la petite bête.
Après, Séverine est témoin, donc déjà on sait que si c'est une hallucination, elle est collective :1st_place_medal: :1st_place_medal:

[2021-12-16 20:57] alexis-michaud opened #183 "nume et numèè : bien distinguer"
Ca pourrait valoir un petit mot d'explication, dans la présentation des 2 corpus, pour expliquer que ce n'est pas la même langue ?

https://pangloss.cnrs.fr/corpus/Num%C3%A8%C3%A8

(De même que la page du lazé précise ce que n'est pas du laze)

[2022-01-04 07:27] sguillaume opened #184 "Affichage d'un groupe de ressources primaires dans 1 même page (notamment : traitement des ressources vidéo et audio liées par dc:relation)"
Il arrive que des fichiers audio et vidéo soient liés (d'une autre manière que "dcterms:requires" et "dcterms:isrequiredBy" qui concerne principalement les annotations et les EGG).
Le lien est alors juste indiqué par "dc:relation".

Dans ces cas là il faudrait ajouter une règle pour que ces fichiers n'apparaissent pas tous dans la liste des ressources.
Il faudrait que le fichier vidéo apparaisse d

[2022-01-04 09:32] alexis-michaud opened #185 "Corpus descriptions as data papers? Q de la publication (pérenne) des pages de présentation des corpus"
La page de présentation d'un corpus est un élément-clef pour l'utilisation du corpus (depuis les débuts du projet Pangloss).

- Elle a vocation à être une référence centrale où trouver des explications concernant les conventions de notation.
- Elle contient des informations (métadonnées) qui concernent toutes les ressources du corpus : sorte de "factorisation" de métadonnées concernant les conditi

[2022-01-04 14:05] alexis-michaud commented on #99
Une info côté ApériTube :
https://aperi.tube/w/abc1e593-cb2e-4f39-8257-ffd8f197b72b
Partie 1 : Impact écologique des data-centers et comment le diminuer
Partie 2 : Impact écologique de la transmission de données et comment le diminuer
Partie 3 : Comment notre utilisation des données peut-elle contribuer à réduire notre empreinte numérique ?

[2022-01-21 07:59] alexis-michaud commented on #185
Les pages de présentation ont vocation à être intégrées au livret créé (via LaTeX) comme sortie PDF pour consulter un corpus comme un livre mis en page. (En lien avec l'export demandé [ici](https://github.com/CNRS-LACITO/eastlingplayer/issues/63))

[2022-01-21 10:09] alexis-michaud commented on #143
Recherche à facettes : un nouveau retour utilisatrice (d'une enseignante de langues & cultures) qui va dans le sens de demander des moyens de s'orienter dans la collection :

il s'agirait d'associer aux documents (de type TEXT) des étiquettes comme "conte mythologique", "conte héroïque", "légende", "conte d’animaux", "conte familier"…

[2022-01-21 10:33] m8nli9ht commented on #143
Très bonne idée, un système de tags?

Le ven. 21 janv. 2022 à 11:09, Alexis Michaud ***@***.***> a
écrit :

[2022-01-21 11:17] alexis-michaud commented on #143
Exactement, des _tags_ dans les métadonnées.

Si on trouve une super-classification existante, on s'y adosse, et tout est pour le mieux. Par exemple [celle-ci](https://fr.wikipedia.org/wiki/Classification_Aarne-Thompson-Uther) ? On va se renseigner : le LACITO est pas le plus mauvais endroit pour ces savoirs-là :-)

À défaut, on bricole notre système... mais il faut alors le décrire et le document

[2022-04-07 15:30] alexis-michaud opened #186 "DOI non affiché pour une ressource : "Mother's Birthday" (langue : na)"
Pas de DOI associé qui apparaisse dans la liste des ressources : le bouton "DOI" n'apparaît pas pour cette ressource.
![image](https://user-images.githubusercontent.com/6072524/162236131-64291265-952b-4265-8962-cc11774a5784.png)

Sur la page de consultation, le bouton "DOI" apparaît mais la valeur n'est pas présente :
![image](https://user-images.githubusercontent.com/6072524/162235114-bc40309f-81

[2022-04-07 16:13] EdouardSombie commented on #186
Tous les doi semblent apparaitre sur ton lien...

[2022-04-08 06:24] alexis-michaud commented on #186
@EdouardSombie l'étiquette "bogue" a pu t'inquiéter, mais ne te mets pas martel en tête : ça concerne simplement la génération des identifiants DOIs, c'est @sguillaume qui gère ça. La ressource en question ("Mother's Birthday") n’avait pas de DOI affecté (elle et ses ressources associées). Séverine a ajouté ces ressources parmi le prochain lot qui bénéficiera d'une création de DOIs. Maintenant ce

[2022-04-08 09:31] EdouardSombie commented on #186
👍

[2022-04-20 11:44] alexis-michaud commented on #186
DOI créé et ajouté, merci @sguillaume

[2022-04-20 11:44] #186 closed

[2022-04-20 12:18] alexis-michaud commented on #184
La recherche de pistes continue, y compris une réflexion sur l'encodage des relations dans les métadonnées de Cocoon.

[2022-04-21 11:23] maxime-fily opened #187 "demande d'ajout de la possibilité de personnaliser l'entête des onglets d'annotation (annotations multiples)"
Bonjour tout le monde,
aujourd'hui, plusieurs onglets d'annotations sont disponibles pour un même enregistrement, et nous nous demandions s'il serait possible de personnaliser l'affichage en allant piocher dans les métadonnées la description individuelle des fichiers d'annotation. Cela imposerait d'avoir le nom donné à chaque onglet d'annotation dans les métadonnées, mais la valeur ajoutée pour ce

[2022-05-10 08:12] alexis-michaud opened #188 "publication sur site Pangloss des extraits de contes du volume d'hommage à Jacqueline Thomas"
Les extraits de contes du volume d'hommage à Jacqueline Thomas sur CD-ROM ne sont plus accessibles. Une publication sur site Pangloss serait bien utile. (Y compris un document de Jacqueline M.C. Thomas)

Fichiers source à rechercher

[2022-06-17 09:23] alexis-michaud opened #189 "site web Pangloss : mettre les langues par ordre alphabétique"
Dans la liste des langues par pays, il faut mettre les langues par ordre alphabétique. Dans l'état actuel, on ne s'y retrouve pas. Cf. la liste des langues pour la Chine, par exemple.
![image](https://user-images.githubusercontent.com/6072524/174269330-0839532a-adb0-4f56-84b1-ce524b260a0f.png)

[2022-06-17 09:35] alexis-michaud commented on #182
Il semble que ça fonctionne maintenant : même moi je n'arrive plus à renouveler le phénomène. Donc on va fermer le ticket, en restant vigilant concernant le bon fonctionnement du résolveur de DOI.

[2022-06-17 09:35] #182 closed

[2022-06-17 09:45] alexis-michaud opened #190 "abzakh : quelques DOI manquants ?"
Il y a 4 documents dans la liste de ressources en langue abzakh qui n'ont pas de DOI affiché : 3 qu'on voit dans l'image ci-dessous
![image](https://user-images.githubusercontent.com/6072524/174272315-34061e77-c423-4f48-8f48-8b37fa5ff79a.png)

"Le désir de devenir un soldat"	Konuk, Mezane	Simsek, Rifat
"Un courrier bloqué par la neige"	Konuk, Mezane	Simsek, Rifat
"Un invité	Konuk, Mezane"	Konuk, N

[2022-07-19 16:00] alexis-michaud commented on #184
L'enjeu est de bien afficher l'ensemble des ressources liées entre elles / l'ensemble des fichiers qui se rapportent à une même "prise" lors de la captation (enregistrement audio et vidéo fait simultanément + annotations).

La question concerne 2 niveaux du site : les pages de présentation des corpus (comment présenter la liste des ressources en regroupant celles qui sont liées), et les pages d'af

[2022-07-19 16:39] alexis-michaud opened #192 "corpus na de Yongning : 1 ressource primaire à relier à une autre ressource"
Le lien n'est fait qu'en mode "plein-texte", dans le titre du document. À indiquer dans les métadonnées.
https://doi.org/10.24397/pangloss-0004902
est un fichier auxiliaire / complémentaire / adjoint de :
https://doi.org/10.24397/pangloss-0004901

[2022-07-19 16:52] alexis-michaud commented on #184
Affichage :
onglets en haut (les ressources primaires liées entre elles)
<titre>
DOI
boutons des diverses annotations.

[2022-07-19 16:58] alexis-michaud opened #193 "mode PRO : affichage du DOI des annotations"
Lister les DOI à droite, au bas de la colonne qui contient les liens de téléchargement, les métadonnées...

DOI - Ressource : conserver celui de l'onglet actif

Après DOI - Ressource : ajouter des lignes "DOI - Annotation 1", etc.

[2022-07-19 20:03] alexis-michaud opened #194 "association de photos à des ressources spécifiques dans Pangloss"
Train de modifs à lancer pour l'association de photosd'images dans MédiaHAL à des ressources Pangloss.

Plusieurs méthodes :

- sans doute la plus pratique : une base "maison" sur le site de l'interface de consultation de la collection Pangloss. Un tableau associerait certaines photos à 1 locutrice/locuteur, et ces photos pourraient être affichées sur les pages de toutes les ressources associées à

[2022-07-19 20:14] alexis-michaud opened #259 "Un document pouvant se prêter à traitement par Eastling"
https://doi.org/10.24397/pangloss-0007543
On pourrait imaginer de voir une boîte se déplacer sur l'image de la partition à mesure que la musique se déroule.
C'est une application peut-être marginale ou inutile ? (Les personnes qui savent déchiffrer des partitions n'ont évidemment pas besoin d'être guidées par une boîte qui se déplace sur l'image.) Il y a des logiciels pour la musique, qui fonction

[2022-07-25 12:40] alexis-michaud commented on #57
Idée de @EdouardSombie : le téléchargement de corpus entiers (de l'ordre de 3 Go pour le japhug, par exemple) ne s'intègre pas dans un flux de navigation web, du fait du temps de calcul serveur. Pour le téléchargement d'un corpus entier, passer par un formulaire : "Renseignez votre adresse courriel. Vous recevrez un lien de téléchargement." Échelonner en fonction de la charge. Lance le processus d

[2022-07-25 13:34] alexis-michaud commented on #57
Bilan : 4 formes d'export :
1) par document, en asynchrone : récupérer le PDF d'une annotation, stocké (1 PDF par annotation). Le PDF contient toutes les infos du XML.
2) par document, à la volée, sur la base des options d'affichage saisies dans le lecteur Eastling. Bouton depuis la page de consultation d'une ressource, parmi les options de téléchargement de fichiers. Export PDF **+ LaTeX**.
3) pa

[2022-08-02 09:16] alexis-michaud commented on #99
Un référentiel pour maîtriser l'impact environnemental des données, par l'association Open Data France :
https://www.opendatafrance.net/2022/07/21/nouveau-referentiel-greendata-pour-un-impact-maitrise-de-la-donnee-a-vos-contributions/

[2022-09-14 19:50] alexis-michaud opened #195 "Déplier ou replier la présentation du corpus par une indication dans l'URL"
affichage de l’**intro de la page langue** (en 'repliant' la suite) ou de **la page langue en entier** (tout déplié) dans la page « corpus » (ex https://pangloss.cnrs.fr/corpus/Abzakh?lang=en&mode=pro)

Nouvelle option : mettre dans l’url l’info qui permette d’avoir la page qui affiche la page langue en entier ou qui affiche uniquement l’intro.

Tel que : `seemore=true` ou `seemore=false`

ex. :
`

[2022-09-19 10:13] EdouardSombie opened #196 "Créer un espace de développement du site"
Tout est dans le titre...

[2022-09-23 13:00] sylvainloiseau commented on #184
Si on met le doigt dans la question des relations possibles entre fichiers multimédia et transcription il faut faire un inventaire des situations possibles, de façon à ne pas adopter une solution qui sera mise en difficulté dès le prochain cas de figure.

Parmi les cas de figure il y a par exemple les prises de sons/vidéo en parallèle, le fait qu'un fichier multimédia soit une suite d'un autre (pa

[2022-09-24 18:35] alexis-michaud commented on #184
En effet, au-delà du premier niveau identifié (rassembler les différentes prises réalisées en même temps), il y a plein de liens possibles entre ressources.
Pour l'instant, c'est plutôt établi de façon non formalisée informatiquement : par des indications fournies dans le titre des documents concernés, dans la description-résumé qui en est donné...
Par exemple, en langue cuối chăm, il y a 11 docum

[2022-09-26 09:44] alexis-michaud commented on #189
Bien joué @EdouardSombie ! :+1:

[2022-09-26 09:44] #189 closed

[2022-09-26 09:49] alexis-michaud commented on #177
Bien joué @EdouardSombie

[2022-09-26 09:49] #177 closed

[2022-09-26 10:19] EdouardSombie commented on #195
C'est bon !

[2022-09-26 12:58] #195 closed

[2022-09-26 12:59] #129 closed

[2022-09-26 13:00] sguillaume commented on #196
Mail envoyé à Huma-Num pour récupérer l'url

[2022-09-27 06:56] alexis-michaud commented on #196
Adresse reçue d'Huma-Num. Vous avez reçu un message :smiley:
:incoming_envelope: :inbox_tray:

[2022-09-27 15:25] alexis-michaud commented on #190
@sguillaume ça monte un peu dans les priorités : pour citer, ça serait plus joli d'avoir un DOI qu'une URL comme
`https://pangloss.cnrs.fr/corpus/show?lang=fr&mode=pro&oai_primary=cocoon-596e8bca-ae20-4294-ae8b-caae20c29454&oai_secondary=cocoon-1fb06ad9-f3e4-400f-b06a-d9f3e4a00f39&optionTextTranscriptions=&optionTextTranslations=&optionSentenceTranscriptions=autre&optionSentenceTranslations=en%2Bf

[2022-09-28 14:01] sylvainloiseau commented on #184
Oui lister les cas de figure (prise successives, plusieurs enregistreurs parallèles, plusieurs enregistrements (version) d'un même stimulus, etc.) m'intéresserait bien ; si vous rencontrez des cas nouveaux, je veux bien que vous me montriez. Pour cette année, c'est plus sage en effet de faire une solution simple.

[2022-09-28 18:43] alexis-michaud commented on #190
Bien joué @sguillaume :+1:

[2022-09-28 18:43] #190 closed

[2022-09-28 18:45] alexis-michaud commented on #174
Bien joué @EdouardSombie ! :+1:
@sguillaume tu confirmes que c'est bon, le ticket peut être fermé ?

[2022-09-28 19:37] #174 closed

[2022-09-28 19:40] #196 closed

[2022-09-28 19:41] sguillaume commented on #184
Edouard, nous ne pouvons pas appliquer la bijection dont nous avons parlé pour les groupes de ressources liées par une "relation".
Parfois 2 ressources peuvent être en relation avec une même ressource sans l'être du tout entre elles.
Il va falloir détecter les groupes de ressources liées par une simple "relation" entre elles autrement.
On en reparle.

[2022-09-29 08:08] EdouardSombie commented on #174
Je confirme !
A bientôt

[2022-09-29 09:40] EdouardSombie commented on #184
Salut Séverine,

Si on ne peut pas déclarer toutes les ressources liées, il va falloir créer une colonne spécifique 'relations' dans notre base de données afin de pouvoir y faire des requêtes récursives.
Toutefois, je me demande s'il ne serait pas mieux de faire cette recherche récursive une bonne fois pour toutes lors de l'import du xml en base de données. On renseignerait alors notre colonne rel

[2022-09-29 12:51] sguillaume opened #197 "Problème affichage de titre"
Certains titres de ressources ne s'affichent pas (lorsqu'ils sont ni en anglais ni en français).

ex : https://pangloss.cnrs.fr/corpus/show?corpus=Khroskyabs&lang=fr&mode=pro&oai_primary=cocoon-4ecce7d8-6aac-4776-8ce7-d86aac77767e&oai_secondary=cocoon-13d50e3c-7280-4a70-950e-3c72804a7058

Ici le titre est en chinois (pas écriture chinoise mais du chinois quand même) et il n'y a pas d'autre titre.

[2022-10-03 09:42] sguillaume commented on #197
J'ajoute les 2èmes titres pour chaque ressource donc un titre va s'afficher mais il faut résoudre tout de même le problème car souvent il n'y a pas de 2ème titre.

[2022-10-03 14:20] sguillaume commented on #184
J'ai peut être une idée. Peut être que l'on peut décider d'afficher les ressources par groupes quand elles suivent une certaine règle et d'afficher les autres séparément ? Mais je ne suis pas sûre que ça sera plus simple car il faudra distinguer les cas.
Après reflexion, je ne sais pas si toutes les personnes qui ont relié leurs ressources avec une simple relation souhaitent forcément qu'elles s'a

[2022-10-11 12:32] alexis-michaud commented on #184
Pour mémoire, termes proposés pour encoder l'info :
- dans les métadonnées Cocoon : un champ Dublin Core "`type`" contiendra la valeur : "main" (en français : "principal"), ou "ancillary" (en français : "ancillaire").

Pour une ressource "ancillaire" ("ancillary"), il faudra un champ qui indique l'identifiant de la ressource "main" à laquelle elle se rapporte : son "`main_identifier`". Ce champ co

[2022-10-19 20:32] alexis-michaud commented on #96
@EdouardSombie que penses-tu de cette possibilité ?
Serait-il possible de travailler en même temps, ou en parallèle, à l'[intégration au site Pangloss de l'outil de téléchargement par lot, OutilsPangloss](https://github.com/CNRS-LACITO/Pangloss_website/issues/57), et à la mise en place d'une fonctionnalité "Liste de lecture" ? Dans l'un et l'autre cas, on choisit plusieurs ressources.
Est-ce qu'un

[2022-10-29 00:02] sguillaume opened #198 "Affichage des dates "période""
Nous n'avons pas pris en compte tous les types de dates à l'affichage sur le site. (partie droite de la page, côté métadonnées)
En général la date d'enregistrement de la ressource est sous la forme : 2021-08-09
Mais parfois, la date n'est pas une date précise mais une période. Dans ces cas là ça se présente sous cette forme : start=1950; end=1955;
Il faudrait à l'affichage que ça se transforme en

[2022-11-10 12:08] EdouardSombie commented on #96
Salut Alexis,
Il faudrait qu'on précise bien les fonctionnalités.
Mais, a priori tout est possible :)

[2022-11-15 11:42] sguillaume commented on #184
Proposition : "main resource for the dataset" et "ancillary resource".
Il faut conserver un peu de sens pour que les gens s'y retrouvent.

Validé ?

[2022-11-18 15:09] sguillaume opened #199 "Afficher le contenu de l'attribut who"
Il faudrait afficher le contenu de l'attribut "who" du xml afin d'indiquer qui parle dans les transcriptions (quand il est indiqué).

exemple :
< S id="S1" who="Da'a" >
< FORM >han-nuu-dɛso dɛ< /FORM >
<TRANSL xml:lang="fr">C’est l’histoire d’une femme < /TRANSL >
< /S >

Peut être devant la transcription mettre **Da'a :** en gras.

**Da'a :** han-nuu-dɛso dɛ

[2022-11-21 13:30] alexis-michaud opened #200 "Le bouton "Lecture" ne s'affiche pas pour certains documents"
Pour les documents nouvellement déposés [en langue boomu](https://pangloss.cnrs.fr/corpus/Boomu), le bouton "Lecture" ne s'affiche pas.
Exemple pour [ce document](https://doi.org/10.24397/pangloss-0008101) :
![image](https://user-images.githubusercontent.com/6072524/203067405-7a4b2ade-a15a-49f2-848b-b8d8302d6372.png)

(Ni en mode 'pro', ni en 'non pro'.)

En revanche, le bouton s'affiche bien pour

[2022-11-21 13:49] sguillaume commented on #200
C'est a priori normal.
Quand un texte n'est pas synchronisé au niveau de la phrase alors le bouton lecture de la phrase n'apparait pas car il n'y a pas de time code qui permettrait de lancer la lecture.

[2022-11-21 13:49] #200 closed

[2022-11-21 13:55] alexis-michaud commented on #200
Ah pardon ! je comprends
Merci bcp @sguillaume !

[2022-11-25 08:49] m8nli9ht commented on #199
Je vois l'idée, l'attribut who est-il au niveau d'un élément S seulement ou aussi W ?

[2022-11-25 10:29] sguillaume commented on #199
Uniquement au niveau de S

[2022-11-26 09:48] m8nli9ht commented on #199
@sguillaume pourrais-tu me donner les identifiants oai de ressources de cet exemple ?

[2022-11-26 11:29] alexis-michaud commented on #199
oai:crdo.vjf.cnrs.fr:cocoon-9c3f6e3f-8d2b-4cba-bf6e-3f8d2b5cbac5

Pour info : On peut retrouver un document

[2022-11-27 11:54] sguillaume commented on #199
Voilà un exemple avec l'attribut who :
https://pangloss.cnrs.fr/corpus/show?lang=en&mode=pro&oai_primary=cocoon-b117ee60-1bba-3baf-b375-052cbf5bc305&oai_secondary=cocoon-2328d26e-c0a8-316c-8926-668c94bc2555

[2022-11-29 08:51] m8nli9ht commented on #199
Je pense qu'on peut déplacer ce ticket dans le repo de Eastling Player

[2022-11-29 09:17] m8nli9ht commented on #199
Où faut-il afficher cette info :
1/Devant la transcription ?
2/Devant la traduction ?
3/Devant les 2 ?

[2022-11-29 13:17] sguillaume commented on #199
Devant la transcription ça suffit je pense non ?

Un exemple sur un site qu'on avait développé pour une ANR : http://epopee.huma-num.fr/tools/show_text.php?id=cocoon-b117ee60-1bba-3baf-b375-052cbf5bc305

Mais en gras ça serait mieux.

[2022-11-29 16:22] m8nli9ht commented on #199
Parfait, je livre cet ajout avant la fin de semaine

Le mar. 29 nov. 2022 à 14:18, sguillaume ***@***.***> a
écrit :

[2022-11-30 09:07] m8nli9ht commented on #199
Pour test et validation :
https://pangloss-dev.huma-num.fr/corpus/show?continuousPlay=false&lang=en&mode=pro&oai_primary=cocoon-b117ee60-1bba-3baf-b375-052cbf5bc305&oai_secondary=cocoon-2328d26e-c0a8-316c-8926-668c94bc2555&optionMorphemeTranscriptions=&optionMorphemeTranslations=&optionNotes=&optionSentenceTranscriptions=phono%2Bother&optionSentenceTranslations=en&optionTextTranscriptions=&optionT

[2022-11-30 12:04] sguillaume commented on #199
Bon, je n'ai peut être pas trop de talent pour l'esthétique.
C'est pas super lisible mon idée non ?

Bon en tout cas l'info est là et c'est le principal !

Dans une autre couleur sinon ?
Ou autre ?